<!DOCTYPE html>
<html>
<head>
    @{meta}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="robots" content="all,follow" />
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300" rel="stylesheet" type="text/css" />
    @{head}
    @{css('default.css')}
    @{css('icons.min.css')}
    @{favicon('favicon.ico')}
</head>
<body>
    <a href="https://github.com/totaljs/framework" class="fork"><img src="/img/fork.png" width="149" height="149" alt="Fork me on GitHub" border="0" /></a>
    <div class="menu-container">
        <div class="content">
            <a href="/" class="logo"><img src="/img/logo.png" width="126" height="40" alt="total.js - web application framework for node.js" border="0" /></a>
            <ul class="menu">
                <li><a href="/">Homepage</a></li>
                <li><a href="/news/">News</a></li>
                <li><a href="/download/" class="b">Get started</a></li>
                <li><a href="/totalstack/">TotalStack</a></li>
                <li><a href="/community/">Community</a></li>
                <li><a href="http://docs.totaljs.com/" class="b">Documentation</a></li>
                <li><a href="https://github.com/totaljs/examples/">+100 Examples</a></li>
                <li><a href="/ide/">IDE</a></li>
                <li><a href="/webhosting/">Webhosting</a></li>
                <!--
                <li><a href="https://github.com/totaljs/" class="b">GitHub</a></li>
                -->
            </ul>
        </div>
    </div>
    <div class="container">
        @{body}
        <div class="sign"></div>
    </div>

    <div class="container-footer">
        <div class="content">
            <ul>
                <li><span class="fa fa-twitter"></span><a href="https://twitter.com/totalframework" target="_blank">Twitter</a></li>
                <li><span class="fa fa-google-plus-square"></span><a href="https://plus.google.com/+partialjs" target="_blank">Google+</a></li>
                <li><span class="fa fa-facebook-square"></span><a href="https://www.facebook.com/totaljs.web.framework" target="_blank">Facebook</a></li>
                <li><span class="fa fa-github"></span><a href="https://github.com/totaljs/framework/" target="_blank">GitHub</a></li>
                <li><span class="fa fa-linkedin-square"></span><a href="https://www.linkedin.com/groups/totaljs-8109884" target="_blank">LinkedIn</a></li>
                <li><span class="fa fa-gears"></span><a href="https://github.com/totaljs/modules" target="_blank">Modules</a></li>
                <li><span class="fa fa-comment"></span><a href="https://groups.google.com/forum/#!forum/totaljs" target="_blank">Forums</a></li>
                <li><span class="fa fa-lightbulb-o"></span><a href="https://github.com/totaljs/examples" target="_blank">Examples</a></li>
                <li><span class="fa fa-check-square"></span><a href="http://docs.totaljs.com" target="_blank">Documentation</a></li>
            </ul>
            <br />
            <div class="copyright">
                &copy; 2012-2014. Made with <span class="fa fa-heart"></span> in <strong>European Union</strong>.
                <div>Peter Širka</div>
                <br />
                <br />
                <a href="http://opensource.org" target="_blank"><img src="/img/opensource.png" width="70" height="60" alt="Proud to be Open Source" border="0" /></a>
            </div>
        </div>
    </div>


</body>
</html>