@{dns('//fonts.googleapis.com', '//ajax.googleapis.com', '//ghbtns.com', '//www.youtube.com', '//connect.facebook.net', '//apis.google.com')}

<!DOCTYPE html>
<html>
<head>
	@{meta}
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=1024, user-scalable=yes" />
	<meta name="robots" content="all,follow" />
    @{head}
	@{css('default.css')}
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/sh/shCore.js"></script>
    <script type="text/javascript" src="/sh/shBrushJScript.js"></script>
    <script type="text/javascript" src="/sh/shBrushPlain.js"></script>
    <script type="text/javascript" src="/sh/shBrushCss.js"></script>
    <script type="text/javascript" src="/sh/shBrushXml.js"></script>
	@{js('default.js')}
	@{favicon('favicon.ico')}
</head>
<body>
	<a href="https://github.com/petersirka/total.js" class="fork"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
	<div class="logo">
		<div class="menu-container">
			<ul class="menu">
				<li><a href="/">Homepage</a></li>
				<li><a href="/benefits/">Benefits</a></li>
				<li><a href="/download/">Download</a></li>
				<li><a href="https://groups.google.com/forum/#!forum/totaljs">Forum</a></li>
				<li class="high"><a href="http://docs.totaljs.com">Documentation</a></li>
				<li><a href="https://github.com/petersirka/total.js/tree/master/examples" target="_blank">Examples</a></li>
				<li><a href="/ide/">IDE</a></li>
				<li><a href="/webhosting/">Webhosting</a></li>
			</ul>
		</div>		
	</div>
	<br />
	@{body}
	<br />
	<div class="footer">
		<a href="http://www.858project.com">@{image('signature858.png', 51, 46, '858project / web design & web development')}</a>
		<div class="footer-about">&copy; 2014 by <a href="http://www.858project.com">858project.com</a></div>
		<div>Made with <span class="love"></span> in European Union (SK).</div>
	</div>
	<div id="fb-root"></div>
	
</body>
</html>