@{meta('total.js benefits', 'This webpage quick describes an overview of total.js MVC Framework', 'benefits, total.js, website, eshop', 'social.jpg')}

<h1 class="silver center">total.js benefits</h1>
<p class="claim">What are the benefits of total.js? This is web application framework for node.js</p>
<br />
<div class="bg-white">
	<br />
	<br />
	<br />
	<div class="content">
		<div class="center">
			<div>@{image('1-request.png', 176, 352, 'Request')}</div>
			<br />
			<h2>total.js URL routing</h2>
			<br />
			<p class="fs11 gray">Framework supports perfect URL routing and compliances friendly url.<br />You can write own route to WebPage or WebSocket.</p>
		</div>
		<br />
		<div class="center">@{image('2-controllers.png', 960, 550, 'Controllers')}</div>
		<br />
		<br />
	</div>
	<hr />
	<div class="content">		
		<br />
		<div class="center">
			<h2>Great view engine</h2>
			<p class="fs11 gray">View engine contains many features and supports condition.<br />You can render view in view with model.</p>
		</div>
		<br />
		<div class="center">@{image('2-viewengine.png', 950, 630, 'View engine')}</div>
	</div>
	<hr />
	<div class="content">
		<br />
		<br />
		<div class="center">
			<h2>Automated LESS CSS</h2>
			<p class="fs11 gray">Write LESS and do more. Framework supports simple LESS CSS and<br />automated CSS vendor prefixes.</p>
		</div>
		<br />
		<div class="center">@{image('4-css.png', 725, 766, 'LESS CSS')}</div>
	</div>
	<br />	
	<hr />
	<div class="content">
		<br />
		<br />
		<div class="center">
			<h2>Automated compression</h2>
			<p class="fs11 gray">Automatically compress HTML, JS and CSS one time and save to temporary cache.<br />Client receives a small data via GZIP compression.</p>
		</div>
		<br />
		<div class="center">@{image('5-compress.png', 940, 400, 'Automated compress HTML, JS and CSS')}</div>
		<br />
	</div>
	<hr />
	<br />
	<div class="content">
		<br />
		<div class="center mt10">@{image('pagespeed.png', 751, 73, 'Google Page Speed')}</div>
		<br />
		<br />
	</div>
</div>
<div class="bg-black">
	<div class="content">
		<br />
		<br />
		<div class="center">
			<h2 class="white h40" style="font-size:30px">No dependencies</h2>
			<p class="fs11 gray">
				Framework has no dependencies. Complete functionality is built in its core.<br />
				It's written in 100% pure javascript.
			</p>
			<br />
			<div class="center">@{image('9-differences.png', 649, 490, 'Differences')}</div>
		</div>
		<br />
		<br />
		<br />
		<br />
	</div>
</div>
<div class="bg-white">
	<div class="content">
		<br />
		<div class="center">@{image('10-install.png', 960, 352, 'total.js install vs express.js install')}</div>
		<br />
	</div>
</div>
<div class="content">
	<br />
	<br />
	<div class="fl w190 center br">
		<div>@{image('100-calendar.png', 100, 100, 'DateTime functions')}</div>
		<div class="b mt10">Date and time<br />functions</div>
	</div>
	<div class="fl w190 center br">
		<div>@{image('100-mobile.png', 100, 100, 'Mobile devices support')}</div>
		<div class="b mt10">Mobile devices<br />support</div>
	</div>
	<div class="fl w190 center br">
		<div>@{image('100-resources.png', 100, 100, 'Resources for multilanguage webpages')}</div>
		<div class="b mt10">Resources for<br />multilanguage webpages</div>
	</div>
	<div class="fl w190 center br">
		<div>@{image('100-nosql.png', 100, 100, 'NoSQL embedded database')}</div>
		<div class="b mt10">NoSQL embedded<br />database</div>
	</div>
	<div class="fl w190 center">
		<div>@{image('100-module.png', 100, 100, 'Supports custom modules')}</div>
		<div class="b mt10">Supports custom<br />modules</div>
	</div>
	<div class="cl">&nbsp;</div>
</div>
<br />
<br />
<div class="center">
	<iframe width="800" height="600" src="http://www.youtube.com/embed/lW1vsKMUaKg" frameborder="0" allowfullscreen></iframe>
</div>
<br />
<br />