@{meta('@(The framework community)', 'Framework community on GitHub, Twitter, Google, Facebook, LinkeIn and Gitter.', 'community, total.js, forum, chat', 'social.jpg')}

<div class="container container-padding">
    <br />
    <div class="h1">
        <hr />
        <h1>@(The framework community)</h1>
    </div>
    <br />
    <table class="table linkslist" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td class="col-sm-11">@(Issues on GitHub)</td>
                <td class="center"><a href="https://github.com/totaljs/framework/issues"><span class="fa fa-github-square"></span></td>
            </tr>
            <tr>
                <td class="col-sm-11">@(Gitter: Chat for GitHub)</td>
                <td class="center"><a href="https://gitter.im/totaljs/framework"><span class="fa fa-git-square"></span></td>
            </tr>
            <tr>
                <td class="col-sm-11">@(Google Forums)</td>
                <td class="center"><a href="https://groups.google.com/forum/#!forum/totaljs"><span class="fa fa-google-plus-square"></span></td>
            </tr>
            <tr>
                <td class="col-sm-11">@(Framework on Twitter)</td>
                <td class="center"><a href="https://twitter.com/totalframework"><span class="fa fa-twitter-square"></span></td>
            </tr>
            <tr>
                <td class="col-sm-11">@(Framework on Google+)</td>
                <td class="center"><a href="http://www.google.com/+partialjs"><span class="fa fa-google-plus-square"></span></td>
            </tr>
            <tr>
                <td class="col-sm-11">@(Framework on Facebook)</td>
                <td class="center"><a href="https://www.facebook.com/totaljs.web.framework"><span class="fa fa-facebook-square"></span></td>
            </tr>
            <tr>
                <td class="col-sm-11">@(Framework on LinkedIn)</td>
                <td class="center"><a href="https://www.linkedin.com/groups/totaljs-8109884"><span class="fa fa-linkedin-square"></span></td>
            </tr>
        </tbody>
    </table>
</div>