@{meta('Framework community', 'Framework community on GitHub, Twitter, Google, Facebook, LinkeIn and Gitter.', 'community, total.js, forum, chat', 'social.jpg')}

<div class="container-subpage container-subpage-black">
    <h1>Framework community</h1>
    <p class="claim">Join to the forum, mailing list and social groups.</p>
</div>

<div>
    <br />
    <br />
    <div class="content">
        <ul class="features community">
            <li>
                <span class="fa fa-github"></span>
                <h2>Issues on GitHub</h2>
                <p>Use GitHub issues tracker for new issues, bugs and feature requests.</p>
                <a href="https://github.com/totaljs/framework/issues" class="blue" target="_blank">Visit now &rarr;</a>
            </li>
            <li>
                <span class="fa fa-comments"></span>
                <h2>Gitter: Chat for GitHub</h2>
                <p>Real-time chat (troubleshooting) with contributors of the framework.</p>
                <a href="https://gitter.im/totaljs/framework" class="blue" target="_blank">Visit now &rarr;</a>
            </li>
            <li>
                <span class="fa fa-google"></span>
                <h2>Google Forums</h2>
                <p>Join to the framework mailing list and forum on Google Forums.</p>
                <a href="https://groups.google.com/forum/#!forum/totaljs" class="blue" target="_blank">Visit now &rarr;</a>
            </li>
            <li>
                <span class="fa fa-twitter"></span>
                <h2>Framework on Twitter</h2>
                <p>Follow the framework on Twitter and stay tuned. <a href="https://twitter.com/totalframework">@totalframework</a></p>
                <a href="https://twitter.com/totalframework" class="blue" target="_blank">Visit now &rarr;</a>
            </li>
            <li>
                <span class="fa fa-google-plus"></span>
                <h2>Framework on Google+</h2>
                <p>Join to the framework on Google Plus group. Share and read news.</p>
                <a href="http://www.google.com/+partialjs" class="blue" target="_blank">Visit now &rarr;</a>
            </li>
            <li>
                <span class="fa fa-facebook"></span>
                <h2>Framework on Facebook</h2>
                <p>Join to the framework on Facebook group. Share and read news.</p>
                <a href="https://www.facebook.com/totaljs.web.framework" class="blue" target="_blank">Visit now &rarr;</a>
            </li>
            <li>
                <span class="fa fa-linkedin"></span>
                <h2>Framework on LinkedIn</h2>
                <p>Join to the framework on LinkedIn group. Share and read news.</p>
                <a href="https://www.linkedin.com/groups/totaljs-8109884" class="blue" target="_blank">Visit now &rarr;</a>
            </li>
        </ul>
        <div class="cl"></div>
    </div>
    <br />
    <br />
    <br />
</div>
<br />