@{meta('RDBMS and NoSQL databases for your node.js web application', 'Database (RDBMS, NoSQL) for your future node.js apps.', 'database, rdbms, nosql', 'social.jpg')}

<div class="container-subpage container-subpage-black">
    <h1>Databases for node.js</h1>
    <p class="claim">List of databases (RDBMS or NoSQL) + drivers/modules</p>
</div>
<div class="content">
    <br />
    <div class="center">

        <h2 class="big">NoSQL DATABASES</h2>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/database-couchdb.png" width="128" height="128" alt="CouchDB" border="0" /></div>
            <h2>CouchDB</h2>
            <div class="panel-platform">&rarr; <a href="http://couchdb.apache.org" target="_blank" class="link">Database homepage</a></div>
            <p><b>TIP</b>: CouchDB is a database that completely embraces the web.</p>
            <div class="silver mb5">Module: Pure JavaScript</div>
            <div><a href="https://github.com/petersirka/node-couchdb" target="_blank" class="link"><b>NPM:</b> coucher</a></div>
            <div><a href="https://github.com/dscape/nano" target="_blank" class="link"><b>NPM:</b> nano</a></div>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/database-mongodb.png" width="128" height="128" alt="MongoDB" border="0" /></div>
            <h2>MongoDB</h2>
            <div class="panel-platform">&rarr; <a href="http://www.mongodb.org/" target="_blank" class="link">Database homepage</a></div>
            <p>An open-source document database, and the leading NoSQL database.</p>
            <div class="silver mb5">Module: JavaScript + C</div>
            <div><a href="https://github.com/mongodb/node-mongodb-native" target="_blank" class="link"><b>NPM:</b> mongodb</a></div>
            <div><a href="https://github.com/LearnBoost/mongoose" target="_blank" class="link"><b>NPM:</b> mongoose</a></div>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/database-rethinkdb.png" width="128" height="128" alt="RethinkDB" border="0" /></div>
            <h2>RethinkDB</h2>
            <div class="panel-platform">&rarr; <a href="http://rethinkdb.com/" target="_blank" class="link">Database homepage</a></div>
            <p><b>TIP</b>: An open-source distributed database built with love.</p>
            <div class="silver mb5">Module: Pure JavaScript</div>
            <div><a href="https://github.com/rethinkdb/rethinkdb" target="_blank" class="link"><b>NPM:</b> rethinkdb</a></div>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/database-riak.png" width="128" height="128" alt="Riak" border="0" /></div>
            <h2>Riak</h2>
            <div class="panel-platform">&rarr; <a href="http://basho.com/riak/" target="_blank" class="link">Database homepage</a></div>
            <p>Riak is an open source, distributed database.</p>
            <div class="silver mb5">Module: Pure JavaScript</div>
            <div><a href="https://github.com/mranney/node_riak" target="_blank" class="link"><b>NPM:</b> riak</a></div>
        </div>

        <hr />
        <h2 class="big">RDBMS DATABASES</h2>
        <br />

        <div class="panel">
            <div class="center panel-picture"><img src="/img/database-mysql.png" width="128" height="128" alt="MySQL" border="0" /></div>
            <h2>MySQL</h2>
            <div class="panel-platform">&rarr; <a href="http://www.mysql.com" target="_blank" class="link">Database homepage</a></div>
            <p>The world's most popular open source database.</p>
            <div class="silver mb5">Module: Pure JavaScript</div>
            <div><a href="https://github.com/felixge/node-mysql" target="_blank" class="link"><b>NPM:</b> mysql</a></div>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/database-postgresql.png" width="128" height="128" alt="PostgreSQL" border="0" /></div>
            <h2>PostgreSQL</h2>
            <div class="panel-platform">&rarr; <a href="http://www.postgresql.org" target="_blank" class="link">Database homepage</a></div>
            <p>The world's most advanced open source database.</p>
            <div class="silver mb5">Module: Pure JavaScript</div>
            <div><a href="https://github.com/brianc/node-postgres" target="_blank" class="link"><b>NPM:</b> pg</a></div>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/database-firebird.png" width="128" height="128" alt="Firebird SQL" border="0" /></div>
            <h2>Firebird SQL</h2>
            <div class="panel-platform">&rarr; <a href="http://www.firebird.com" target="_blank" class="link">Database homepage</a></div>
            <p>The true open source database for Windows, Linux, Mac OS X and more.</p>
            <div class="silver">Module: Pure JavaScript</div>
            <div class="silver mb5">I&#39;m contributor and <b>recommend it</b>.</div>
            <div><a href="https://github.com/hgourvest/node-firebird" target="_blank" class="link"><b>NPM:</b> node-firebird</a></div>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/database-sqlite.png" width="128" height="128" alt="SQLite" border="0" /></div>
            <h2>SQLite</h2>
            <div class="panel-platform">&rarr; <a href="http://www.sqlite.org" target="_blank" class="link">Database homepage</a></div>
            <p>SQLite3: Small. Fast. Reliable.  Choose any three.</p>
            <div class="silver mb5">Module: Written in C++</div>
            <div><a href="https://github.com/mapbox/node-sqlite3" target="_blank" class="link"><b>NPM:</b> sqlite3</a></div>
        </div>

    </div>

</div>
<br />