@{meta('@(The donation and plans)', 'The important informations about the donation and subscription.', 'donate, subscription, important')}

<div class="container">
    <br />
    <div class="h1">
        <hr />
        <h1>@(The donation and plans)</h1>
    </div>
    <div><img src="/img/donation-image.png" class="img-responsive" border="0" /></div>
    <br />
    <div class="row">
        <div class="col-md-5">
            <div class="p" style="padding-left:0">
                <h2>@(The donation for the framework)</h2>
                <p>@(<b>Make your donation now</b>. The framework earns your money and is absolutely free. I develop the framework over 2 years with many examples and <b>I want to continue</b>.<br /><br />The framework needs your donation for ensure future development and improving the documentation.)</p>
                <hr />
                <div class="center">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="QNSJPR4XK5ZH2">
                        <input type="image" src="https://www.totaljs.com/img/donation.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-6">
            <div class="panel">
                <div class="p">
                    <h2>@(Plans for 2015)</h2>
                    <hr />
                    <div class="items">
                        <div>
                            <div class="items-title"><span class="fa fa-flag"></span> <strong>@(Internationalization)</strong></div>
                            @(I want to translate the documentation and website for many countries. Many people do not know to translate english texts.)
                        </div>
                        <br />
                        <div>
                            <div class="items-title"><span class="fa fa-puzzle-piece"></span> <strong>@(More modules and more packages)</strong></div>
                            @(The plan is create helpful modules and packages which can help you with creating your web applications. Modules and packages are very important for the framework.)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cl">&nbsp;</div>
    <br />
</div>