@{meta('Get started with the web framework', 'Download total.js (web application framework) for your new website.', 'download, npm, node.js, total.js, install', 'social.jpg')}

<div class="container-subpage container-subpage-blue">
    <h1>Get started</h1>
    <p class="claim">Free web application framework for building Web sites and Web applications using JavaScript, HTML and CSS.</p>
</div>
<div class="container-black">
    <div class="content">
        <div class='embed-container'><iframe src='//www.youtube.com/embed/WPc8gJFPQkA' frameborder='0' allowfullscreen></iframe></div>
    </div>
</div>
<div>
    <br />
    <div class="content">
        <br />
        <br />
        <ul class="table">
            <li><span class="fa fa-chevron-circle-right red"></span> <a href="https://github.com/totaljs/examples/tree/master/heroku" target="_blank">Example: Deploy web on Heroku</a></li>
            <li><span class="fa fa-chevron-circle-right red"></span> <a href="https://www.youtube.com/watch?v=kZvCCyR6iBI" target="_blank">Video: Deploy web on AppFog</a></li>
            <li class="b"><span class="fa fa-chevron-circle-right red"></span> <a href="https://github.com/totaljs/website" target="_blank">Download this webpage</a></li>
            <li class="b"><span class="fa fa-chevron-circle-right red"></span> <a href="https://github.com/totaljs" target="_blank">Visit total.js on the GitHub</a></li>
        </ul>
        <ul class="steps">
            <li>
                <h2 class="medium gray">01. Install node.js platform</h2>
                <p><strong>Firstly you must install node.js platform</strong>. Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.</p>
                <br />
                <span class="fa fa-floppy-o mr10 blue"></span><a href="http://nodejs.org/" target="_blank" class="b link blue">Install now: node.js platform</a>
            </li>
            <li>
                <h2 class="medium gray">02.1 Download the framework</h2>
                <p>Download latest build of framework from the GitHub. The build contains <b>empty–project</b>, so you can modify and run this project anywhere without other installation. The framework works on Mac OS X, Windows, Linux or SunOS.</p>
                <br />
                <span class="fa fa-floppy-o mr10 blue"></span><a href="https://github.com/totaljs/framework/releases" target="_blank" class="b link blue">Download now: total.js framework</a>
            </li>
            <li>
                <h2 class="medium gray">02.2 Node Package Manager</h2>
                <p>You can install / download framework from <strong>Node Package Manager</strong>. Node Package Manager is automatically installed with node.js platform. It&#39;s easy and fast. Create empty directory and open terminal (Mac OS X, Linux) or command line (Windows) and write below command:</p>
                <br />
                <div class="blue"><span class="fa fa-flag mr10 blue"></span> <b>$ npm install total.js</b></div>
            </li>
            <li>
                <h2 class="medium gray">02.3 Run it without any installation</h2>
                <p>You can run framework without any installation. Create e.g. <span class="code">index.js</span> in project directory and run it through terminal / command-line <span class="code">node index.js</span></p>
                <br />
<pre><span class="gray">// Execute in node.js</span>
<span class="gray">// Framework automatically reads directory structure</span>
var http = require(&#039;http&#039;);

<span class="gray">// This is total.js - web application framework for node.js</span>
http.get(&#039;http://modules.totaljs.com/total.js/v1.7.0/total.js&#039;, function(res) {
    var buffer = [];
    res.on(&#039;data&#039;, function(buf) { buffer.push(buf.toString(&#039;utf8&#039;)); });
    res.on(&#039;end&#039;, function() { eval(buffer.join(&#039;&#039;)); if (typeof(init) !== 'undefined') init(); });
});

<span class="gray">// Initialize function</span>
<span class="gray">// Optional</span>
function init() {

    framework.route(&#039;/&#039;, function() {
        this.plain(&#039;Hello world!&#039;);
    });

    <span class="gray">// debug | release | test</span>
    framework.http(&#039;debug&#039;);
}
</pre>
            </li>
        </ul>
        <br />
        <br />
        <br />
        <div class="button-large"><a href="https://github.com/totaljs/framework/releases">DOWNLOAD NOW</a></div>
        <br />
        <br />
        <br />
        <ul class="table">
            <li><span class="fa fa-floppy-o black"></span> <a href="/download/logo-black.png" target="_blank" class="blue">Transparent logo black (.png, 16 kB)</a></li>
            <li><span class="fa fa-floppy-o black"></span> <a href="/download/logo-white.png" target="_blank" class="blue">Transparent logo white (.png, 16 kB)</a></li>
            <li><span class="fa fa-floppy-o black"></span> <a href="/download/icon-black.png" target="_blank" class="blue">Transparent icon black (.png, 4 kB)</a></li>
            <li><span class="fa fa-floppy-o black"></span> <a href="/download/icon-white.png" target="_blank" class="blue">Transparent icon white (.png, 4 kB)</a></li>
        </ul>
    </div>
    <br />
    <br />
    <br />
</div>
<br />