@{meta('Download web application framework', 'Download total.js (web application framework) for your new website.', 'download, npm, node.js, total.js, install', 'social.jpg')}

<h1 class="silver center">Download total.js</h1>
<p class="claim">Free web application framework for building Web sites and Web applications using JavaScript, HTML and CSS.</p>
<br />
<div class="center">
	<div><a href="https://github.com/totaljs/framework"><img src="@{routeImage('github.png')}" width="96" height="96" alt="Follow us on GitHub.com" border="0" /></a></div>
	<br />
	<br />
	<div class="center" style="margin-left:40px">
		<iframe src="http://ghbtns.com/github-btn.html?user=totaljs&repo=framework&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
	</div>
</div>
<br />
<br />
<div class="content">
	<div class="message message-alert" style="margin:10px 10px 10px 0;padding:25px;line-height:17px">
		<b>Firstly you must install node.js platform.</b> Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.
		<br />
		<br />
		<a href="http://nodejs.org" style="font-size:14px" class="link"><strong>Install node.js</strong></a>
	</div>
	<br />
	<div class="panel h180" style="width:320px">
		<div class="p20 npt">
			<h2 class="left">Download <b>stable</b> version</h2>
			<br />
			<div class="lh12">Copy newest total.js framework with the empty project. Download, unzip &amp; run.</div>
			<br />
			<div class="gray">Download stable version:</div>
			<br />
			<div class="h30">
				<a href="https://github.com/totaljs/framework/releases" class="button button-base w150" style="font-size:14px">Download <strong>total.js</strong></a>
			</div>
		</div>
	</div>
	<div class="panel h180" style="width:320px">
		<div class="p20 npt">
			<h2 class="left">From npmjs.org as private module</h2>
			<br />
			<div class="lh12">Install total.js as module to your website directory and run website.</div>
			<br />
			<pre class="brush: plain">
				&nbsp;
				$ cd yourwebsitedirectory
				$ npm install total.js
			</pre>
			<br />
			<div class="gray">npm create node_modules directory to your website</div>
		</div>
	</div>
	<div class="panel h180 nbr" style="width:320px">
		<div class="p20 npt">
			<h2 class="left">From npmjs.org as global module</h2>
			<br />
			<div class="lh12">Install total.js as global module to your platform. After installation check you version of framework.</div>
			<br />
			<pre class="brush: plain">
				&nbsp;
				$ npm install -g total.js
				$ total.js -help
			</pre>
			<br />
			<div class="gray">You must have administrator privileges</div>
		</div>
	</div>
	<div class="cl">&nbsp;</div>
</div>
<div class="bg-black">
	<div class="content bg-download">
		<br />
		<br />
		<h2 class="white">Download <b>total.js</b> logo</h2>
		<br />
		<div style="font-size:14px;line-height:20px">
			<div>@{download('logo-black.png', 'Transparent logo black (.png, 16 kB)', 'logo-black.png', 'link')}</div>
			<div>@{download('logo-white.png', 'Transparent logo white (.png, 16 kB)', 'logo-white.png', 'link')}</div>
			<div>@{download('icon-black.png', 'Transparent icon black (.png, 4 kB)', 'icon-black.png', 'link')}</div>
			<div>@{download('icon-black.png', 'Transparent icon white (.png, 4 kB)', 'icon-white.png', 'link')}</div>
		</div>
		<br />
		<br />
	</div>
</div>