@{meta('Get started with the web framework', 'Download total.js (web application framework) for your new website.', 'download, npm, node.js, total.js, install', 'social.jpg')}

<div class="container-subpage container-subpage-blue">
    <h1>Get started</h1>
    <p class="claim">Free web application framework for building Web sites and Web applications using JavaScript, HTML and CSS.</p>
</div>
<div class="container-black">
    <div class="content">
        <div class='embed-container'><iframe src='http://www.youtube.com/embed/4Vrqx0UnpYk' frameborder='0' allowfullscreen></iframe></div>
    </div>
</div>
<div>
    <br />
    <div class="content">
        <br />
        <br />
        <ul class="table">
            <li><span class="fa fa-chevron-circle-right blue"></span> <a href="http://docs.totaljs.com/tutorial/" target="_blank">Simple tutorial</a></li>
            <li><span class="fa fa-chevron-circle-right blue"></span> <a href="https://github.com/totaljs/examples" target="_blank">+100 examples</a></li>
            <li><span class="fa fa-chevron-circle-right blue"></span> <a href="http://sushi.totaljs.com/" target="_blank">Example: Sushi eshop</a></li>
            <li><span class="fa fa-chevron-circle-right blue"></span> <a href="http://todo.totaljs.com/" target="_blank">Example: TODO list</a></li>
            <li><span class="fa fa-chevron-circle-right red"></span> <a href="https://github.com/totaljs/examples/tree/master/heroku" target="_blank">Example: Deploy web on Heroku</a></li>
            <li><span class="fa fa-chevron-circle-right red"></span> <a href="https://www.youtube.com/watch?v=kZvCCyR6iBI" target="_blank">Video: Deploy web on AppFog</a></li>
            <li class="b"><span class="fa fa-chevron-circle-right red"></span> <a href="https://github.com/totaljs/website" target="_blank">Download this webpage</a></li>
            <li class="b"><span class="fa fa-chevron-circle-right red"></span> <a href="https://github.com/totaljs" target="_blank">Visit total.js on the GitHub</a></li>
        </ul>
        <ul class="steps">
            <li>
                <h2 class="medium gray">01. Install node.js platform</h2>
                <p><strong>Firstly you must install node.js platform</strong>. Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.</p>
                <br />
                <span class="fa fa-floppy-o mr10 blue"></span><a href="http://nodejs.org/" target="_blank" class="b link blue">Install now: node.js platform</a>
            </li>
            <li>
                <h2 class="medium gray">02.1 Download framework</h2>
                <p>Download latest build of framework from the GitHub. The build contains <b>empty–project</b>, so you can modify and run this project anywhere without other installation. The framework works on Mac OS X, Windows, Linux or SunOS.</p>
                <br />
                <span class="fa fa-floppy-o mr10 blue"></span><a href="https://github.com/totaljs/framework/releases" target="_blank" class="b link blue">Download now: total.js framework</a>
            </li>
            <li>
                <h2 class="medium gray">02.2 Node Package Manager</h2>
                <p>You can install / download framework from <strong>Node Package Manager</strong>. Node Package Manager is automatically installed with node.js platform. It&#39;s easy and fast. Create empty directory and open terminal (Mac OS X, Linux) or command line (Windows) and write below command:</p>
                <br />
                <div class="blue"><span class="fa fa-flag mr10 blue"></span> <b>$ npm install total.js</b></div>
            </li>
        </ul>
        <br />
        <br />
        <br />
        <div class="center">
            <span class="fa fa-github" style="font-size:80px"></span>
            <br />
            <br />
            <br />
            <div style="margin-left:30px"><iframe src="http://ghbtns.com/github-btn.html?user=totaljs&repo=framework&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe></div>
        </div>
        <br />
        <br />
        <div class="button-large"><a href="https://github.com/totaljs/framework/releases">DOWNLOAD NOW</a></div>
        <br />
        <br />
        <br />
        <ul class="table">
            <li><span class="fa fa-floppy-o black"></span> <a href="/download/logo-black.png" target="_blank" class="blue">Transparent logo black (.png, 16 kB)</a></li>
            <li><span class="fa fa-floppy-o black"></span> <a href="/download/logo-white.png" target="_blank" class="blue">Transparent logo white (.png, 16 kB)</a></li>
            <li><span class="fa fa-floppy-o black"></span> <a href="/download/icon-black.png" target="_blank" class="blue">Transparent icon black (.png, 4 kB)</a></li>
            <li><span class="fa fa-floppy-o black"></span> <a href="/download/icon-white.png" target="_blank" class="blue">Transparent icon white (.png, 4 kB)</a></li>
        </ul>
    </div>
    <br />
    <br />
    <br />
</div>
<br />