@{meta('Explore')}

<div class="container container-padding">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-6 m">
            <h2>@(Run framework)</h2>
            <p>asda sadljka sdlad lkasdlkasdljas dlksajd ljsadlsajlasjdlasj dlasjd lasjdlasjdlasdjlsadlk asjkdlsajd.</p>
            <pre><code class="js"></code></pre>
        </div>
        <div class="col-lg-6 m">
            <h2>@(RESTful routing)</h2>
            <p>asda sadljka sdlad lkasdlkasdljas dlksajd ljsadlsajlasjdlasj dlasjd lasjdlasjdlasdjlsadlk asjkdlsajd.</p>
            <pre><code class="js"></code></pre>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6 m">
            <h2>@(Websocket example)</h2>
            <pre><code class="js"></code></pre>
        </div>
        <div class="col-lg-6 m">
            <h2>@(Server-sents events)</h2>
            <pre><code class="js"></code></pre>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6 m">
            <h2>@(View engine)</h2>
            <pre><code class="js"></code></pre>
        </div>
        <div class="col-lg-6 m">
            <h2>@(Localization)</h2>
            <pre><code class="js"></code></pre>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6 m">
            <h2>@(Packages)</h2>
            <pre><code class="js"></code></pre>
        </div>
        <div class="col-lg-6 m">
            <h2>@(Modules)</h2>
            <pre><code class="js"></code></pre>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6 m">
            <h2>@(Merging and mapping)</h2>
            <pre><code class="js"></code></pre>
        </div>
        <div class="col-lg-6 m">
            <h2>@(Redirects and restrictions)</h2>
            <pre><code class="js"></code></pre>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6 m">
            <h2>@(Prototypes)</h2>
            <pre><code class="js"></code></pre>
        </div>
        <div class="col-lg-6 m">
            <h2>@(Utilities)</h2>
            <pre><code class="js"></code></pre>
        </div>
    </div>


    <table class="table" border="0" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th class="col-sm-8">Feature name</th>
                <th class="center">Supports</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>MVC achictecture</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Clean directory structure</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Fully asynchronous</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Static files serving</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports IP restrictions</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports IP redirections</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports merging files (JavaScripts or CSS)</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports custom mapping files</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports media streaming</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports modules and packages</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Image resizing (supports ImageMagick or GraphicsMagick)</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports WebSockets</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports RESTful routing</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports middlewares</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports assertion testing</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports workers for heavy CPU operations</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports 3x config files (debug, release, test)</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>SMTP mail sender (supports Gmail and classic SMTP servers with auth)</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Built-in view engine (you can replace it)</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Localization</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports cache mechanism</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports business logic layer</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports schemas for creating business objects</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports injecting scripts, packages and views from URL</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>NoSQL embedded database</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports String, Date, Number prototypes</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
            <tr>
                <td>Supports additional utilities (e.g. create URL request)</td>
                <td class="center"><span class="fa fa-check-circle"></span></td>
            </tr>
        </tbody>
    </table>

    <br />
    <div class="row m">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <a href="/getting-started/" class="button">@(DOWNLOAD FRAMEWORK)</a>
        </div>
    </div>

</div>