@{meta('Explore')}

<div class="container container-padding">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-6 m">
            <h2>@(Run framework)</h2>
            <p>asda sadljka sdlad lkasdlkasdljas dlksajd ljsadlsajlasjdlasj dlasjd lasjdlasjdlasdjlsadlk asjkdlsajd.</p>
            <pre><code class="js"></code></pre>
        </div>
        <div class="col-lg-6 m">
            <h2>@(RESTful routing)</h2>
            <p>asda sadljka sdlad lkasdlkasdljas dlksajd ljsadlsajlasjdlasj dlasjd lasjdlasjdlasdjlsadlk asjkdlsajd.</p>
            <pre><code class="js"></code></pre>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6 m">
            <h2>@(Websocket example)</h2>
            <pre><code class="js"></code></pre>
        </div>
        <div class="col-lg-6 m">
            <h2>@(Server-sents events)</h2>
            <pre><code class="js"></code></pre>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6 m">
            <h2>@(View engine)</h2>
            <pre><code class="js"></code></pre>
        </div>
        <div class="col-lg-6 m">
            <h2>@(Localization)</h2>
            <pre><code class="js"></code></pre>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6 m">
            <h2>@(Packages)</h2>
            <pre><code class="js"></code></pre>
        </div>
        <div class="col-lg-6 m">
            <h2>@(Modules)</h2>
            <pre><code class="js"></code></pre>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6 m">
            <h2>@(Merging and mapping)</h2>
            <pre><code class="js"></code></pre>
        </div>
        <div class="col-lg-6 m">
            <h2>@(Redirects and restrictions)</h2>
            <pre><code class="js"></code></pre>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6 m">
            <h2>@(Prototypes)</h2>
            <pre><code class="js"></code></pre>
        </div>
        <div class="col-lg-6 m">
            <h2>@(Utilities)</h2>
            <pre><code class="js"></code></pre>
        </div>
    </div>
    <br />
    <div class="row m">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <a href="/getting-started/" class="button">@(DOWNLOAD FRAMEWORK)</a>
        </div>
    </div>
</div>