@{meta('total.js / web framework for node.js', 'Free web application framework for building Web sites and Web applications using JavaScript, HTML and CSS.', 'framework, total.js, node.js, web, application, MVC, partial.js', 'social.jpg')}

<!-- Where there ends partial.js, there begin total.js. -->

<div class="content">
	<h1>Web framework for node.js</h1>
	<p class="claim">Free server framework for building Web sites and Web applications using JavaScript, HTML and CSS.</p>
	<br />
	<div class="panel">
		<div class="center"><img src="@{routeImage('128-modern.png')}" width="128" height="128" alt="Modern framework" border="0" /></div>
		<h2>Modern framework</h2>
		<p>Friendly URL, XHR, JSON, LESS CSS (CSS 3), JavaScript minifier, XSS protected, resources, modules and supports MVC architecture.</p>
	</div>
	<div class="panel">
		<div class="center"><img src="@{routeImage('128-websocket.png')}" width="128" height="128" alt="WebSocket supports" border="0" /></div>
		<h2>WebSockets (RFC 6455)</h2>
		<p>WebSocket is an advanced technology that makes interactive communication session between the user's browser and a server.</p>
	</div>
	<div class="panel">
		<div class="center"><img src="@{routeImage('128-stop.png')}" width="128" height="128" alt="No dependencies" border="0" /></div>
		<h2>No dependencies</h2>
		<p>The framework has no dependencies. Complete functionality is built in its core. You can install any module by the Node Package Manager.</p>
	</div>
	<div class="panel nbr">
		<div class="center"><img src="@{routeImage('128-freedom.png')}" width="128" height="128" alt="Gives You Freedom" border="0" /></div>
		<h2>Gives you freedom</h2>
		<p>Framework doesn&#39;t limit you. You can write whatever you want or rewrite existing functionality. It&#39;s easy, simple and safe.</p>
	</div>
	<div class="cl">&nbsp;</div>
	<div class="box-container">
		<div class="box-tw">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.totaljs.com" data-text="Web application framework for node.js" data-via="totalframework" data-related="totaljs" data-hashtags="totaljs">Tweet</a>&nbsp;
		</div>
		<div class="box-go">
			<div class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/113175077493180148081" data-rel="publisher"></div>&nbsp;
		</div>
		<div class="box-fb">
			<div class="fb-like" data-href="https://www.facebook.com/totaljs.web.framework" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>&nbsp;
		</div>
		<div class="box-gi">
			<iframe src="http://ghbtns.com/github-btn.html?user=totaljs&repo=framework&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>&nbsp;
		</div>
	</div>
	<hr id="totalstack" />
	<br />
	<br />
	<div class="center">@{image('totalstack.png', 400, 163, 'TOTALSTACK - total.js + angular.js')}</div>
	<br />
	<br />
	<p class="claim" style="font-size:14px;line-height:18px;margin-bottom:25px">Total.js supports great features for <strong>development Angular.js applications</strong>. I call this: <strong>TOTALSTACK</strong>.<br />Try to create Angular.js application with total.js web application framework for node.js from command-line tool:</p>
	<div style="width:700px;margin:0 auto"><pre class="brush: plain">$ sudo npm install -g total.js
$ mkdir angularapp
$ cd angularapp
$ total -angular
$ node debug</pre></div>
	<br /><br />
	<ul class="links-large">
		<li><a target="_blank" href="https://github.com/totaljs/examples/tree/master/angularjs">Angular.js simple example</a></li>
		<li><a target="_blank" href="https://github.com/totaljs/examples/tree/master/angularjs-websocket">Angular.js websocket example</a></li>
		<li><a target="_blank" href="https://github.com/totaljs/examples/tree/master/angularjs-routing">Angular.js routing example</a></li>
		<li><a target="_blank" href="https://github.com/totaljs/examples/tree/master/angularjs-mongodb-rest-resources">Angular.js REST + MongoDB</a></li>
	</ul>
	<div class="cl">&nbsp;</div>
	<br />
</div>
@{content('download')}
<div class="bg-black">
	<br />
	<div class="content">
		<ul class="features" style="padding-top:40px">
			<li>MIT license (free for commercial use)</li>
			<li class="b"><a href="https://github.com/totaljs/examples/tree/master/server-sent-events" target="_blank" class="white">Supports Server Sent Events</a></li>
			<li class="b"><a href="https://github.com/totaljs/examples/tree/master/websocket" target="_blank" class="white">Supports WebSockets</a></li>
			<li class="b"><a href="https://github.com/totaljs/examples/tree/master/live-streaming" target="_blank" class="white">Supports live streaming (mixed)</a></li>
			<li>Serve static files &amp; Supports streaming</li>
			<li>Resources for multilingual pages</li>
			<li>Supports prefixes for <strong>mobile devices</strong></li>
			<li>Great view engine</li>
			<li>MVC architecture</li>
			<li>Fast file upload (multipart)</li>
			<li>Form data validation</li>
			<li class="b">Controller assertion testing</li>
			<li><strong>REST</strong> (GET, POST, PUT, DELETE)</li>
			<li>Custom authorization</li>
			<li>LESS CSS + auto vendor prefixes</li>
			<li>Supports JavaScript minifier</li>
			<li>XSS protected, CSRF, CORS</li>
			<li>2x enviroments - debug / release</li>
			<li>Supports custom helpers</li>
			<li><a href="https://github.com/totaljs/modules" target="_blank" class="white b">Supports modules</a></li>
			<li>Reusable code between projects</li>
			<li><a href="https://github.com/totaljs/examples/tree/master/email-templating" target="_blank" class="gray">SMTP sender (E-mail sender)</a></li>
			<li>Supports NoSQL embedded database</li>
			<li><a href="https://github.com/totaljs/examples/tree/master/image-resize" target="_blank" class="gray">Image processing via GraphicsMagick</a></li>
			<li><a href="https://github.com/totaljs/examples/tree/master/workers" target="_blank" class="gray">Supports workers</a></li>
			<li>Supports restrictions and redirects</li>
			<li>Supports custom JS and CSS compiler</li>
			<li><a href="https://github.com/totaljs/examples/tree/master/controller-proxy" target="_blank" class="gray">Supports proxy requests</a></li>
			<li><a href="https://github.com/totaljs/examples/tree/master/authorization-www-basic" target="_blank" class="gray">Supports basic access authentication</a></li>
			<li class="b"><a href="https://github.com/totaljs/examples" target="_blank" class="white">Many examples</a></li>
			<li class="b">Fast &amp; Safe</li>
			<li class="b"><a href="http://youtu.be/3GMQJki82Lo" target="_blank" class="white">Watch the video about total.js</a></li>
		</ul>
		<div class="cl">&nbsp;</div>
	</div>
	<br />
</div>
<div class="bg-white">
	<br />
	<br />
	<div class="content">
		<h2>Total.js is awesome solution for ...</h2>
		<div class="clientside">
			<a href="http://angularjs.org" title="Easy use with AngularJS" target="_blank">@{image('angularjs.png', 100, 30, 'AngularJS')}</a>
			<a href="http://jquery.com" title="Easy use with jQuery" target="_blank">@{image('jquery.png', 100, 30, 'jQuery')}</a>
			<a href="http://backbonejs.org" title="Easy use with BackboneJS" target="_blank">@{image('backbone.png', 100, 30, 'BackboneJS')}</a>
			<a href="http://knockoutjs.com" title="Easy use with KnockoutJS" target="_blank">@{image('knockout.png', 100, 30, 'KnockoutJS')}</a>
			<a href="http://emberjs.com" title="Easy use with EmberJS" target="_blank">@{image('ember.png', 100, 30, 'EmberJS')}</a>
			<a href="http://dojotoolkit.org" title="Easy use with Dojo" target="_blank">@{image('dojo.png', 100, 30, 'Dojo')}</a>
			<a href="http://yuilibrary.com" title="Easy use with YUI Library" target="_blank">@{image('yui.png', 100, 30, 'YUI Library')}</a>
		</div>
		<ul class="features">
			<li>total.js framework for <strong>website</strong></li>
			<li>total.js framework for <strong>eshop</strong></li>
			<li>total.js framework for <strong>blog</strong></li>
			<li>total.js framework for <strong>forum</strong></li>
			<li>total.js framework for <strong>company</strong></li>
			<li>total.js framework for <strong>game</strong></li>
			<li>total.js framework for <strong>chat</strong></li>
			<li>total.js framework for <strong>web service</strong></li>
		</ul>
		<div class="cl">&nbsp;</div>
		<br />
	</div>
</div>
<div class="content">
	<br />
	<br />
	<h2>Other node.js web frameworks</h2>
	<br />
	<ul class="links">
		<li><a target="_blank" href="http://www.expressjs.com">express.js</a></li>
		<li><a target="_blank" href="http://www.koajs.com">koa.js</a></li>
		<li><a target="_blank" href="http://locomotivejs.org">Locomotive</a></li>
		<li><a target="_blank" href="http://towerjs.org">Tower.js</a></li>
		<li><a target="_blank" href="http://flatironjs.org">flatiron</a></li>
		<li><a target="_blank" href="http://compoundjs.com">compoundJS</a></li>
		<li><a target="_blank" href="http://geddyjs.org">geddy</a></li>
		<li><a target="_blank" href="http://sailsjs.org">Sails.js</a></li>
		<li><a target="_blank" href="http://spumko.github.io">hapi</a></li>
		<li><a target="_blank" href="http://derbyjs.com">Derby</a></li>
		<li><a target="_blank" href="https://www.meteor.com">Meteor</a></li>
		<li><a target="_blank" href="http://nombo.io">Nombo</a></li>
		<li><a target="_blank" href="http://krakenjs.com">Kraken.js</a></li>
	</ul>
	<div class="cl">&nbsp;</div>
</div>