@{meta('IDE for node.js', 'Code editors / IDE for node.js and total.js.', 'code, editor, IDE, node', 'social.jpg')}

<div class="container-subpage container-subpage-blue">
    <h1>IDE for node.js</h1>
    <p class="claim">Integrated development environment for node.js and total.js</p>
</div>
<div class="content">

    <br />
    <div class="center">

        <div class="panel">
            <div class="center panel-picture"><img src="/img/ide-sublime.png" width="128" height="128" alt="Sublime Text Editor" border="0" /></div>
            <h2>Sublime Text Editor</h2>
            <div class="panel-platform">Platform: OSX, Linux, Windows</div>
            <div>&rarr; <a href="http://www.sublimetext.com" target="_blank" class="link">Download</a></div>
            <p>Sublime Text is a sophisticated text editor for code, markup and prose. You'll love the slick user interface and amazing performance. <b>+ Free trial</b>.</p>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/ide-chocolat.png" width="128" height="128" alt="Chocolat" border="0" /></div>
            <h2>Chocolat</h2>
            <div class="panel-platform">Platform: OSX</div>
            <div>&rarr; <a href="https://chocolatapp.com/" target="_blank" class="link">Download</a></div>
            <p>Native text editor for Mac. We want it to work with every programming language under the sun. Be it Ruby, C++, PHP or Haskell. <b>+ Free trial</b>.</p>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/ide-coderunner.jpg" width="128" height="128" alt="CodeRunner" border="0" /></div>
            <h2>CodeRunner</h2>
            <div class="panel-platform">Platform: OSX</div>
            <div>&rarr; <a href="http://krillapps.com/coderunner/" target="_blank" class="link">Download</a></div>
            <p>With CodeRunner, it has never been easier to write and test code, run scripts, or simply experiment with a new coding or scripting language.</p>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/ide-webmatrix.jpg" width="128" height="128" alt="WebMatrix" border="0" /></div>
            <h2>WebMatrix</h2>
            <div class="panel-platform">Platform: Windows</div>
            <div>&rarr; <a href="http://www.microsoft.com/web/webmatrix/" target="_blank" class="link">Download</a></div>
            <p>WebMatrix is a free and lightweight, cloud-connected web development tool. Create, publish, and maintain your website with ease. <b>+ Free</b>.</p>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/ide-webstorm.png" width="128" height="128" alt="WebStorm" border="0" /></div>
            <h2>WebStorm</h2>
            <div class="panel-platform">Platform: OSX, Linux, Windows</div>
            <div>&rarr; <a href="http://www.jetbrains.com/webstorm/download/index.html" target="_blank" class="link">Download</a></div>
            <p>The smartest JavaScript IDE. Create great web sites in a great IDE. The best JavaScript IDE and HTML editor is at your fingertips. <b>+ Free trial</b>.</p>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/ide-coda.png" width="128" height="128" alt="Coda 2" border="0" /></div>
            <h2>Coda 2</h2>
            <div class="panel-platform">Platform: OSX</div>
            <div>&rarr; <a href="http://panic.com/coda/" target="_blank" class="link">Download</a></div>
            <p>We made Coda 2 better at everything. You code the web. We revolutionized that process in Coda, putting everything in one place.</p>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/ide-expresso.png" width="128" height="128" alt="Expresso" border="0" /></div>
            <h2>Expresso</h2>
            <div class="panel-platform">Platform: OSX</div>
            <div>&rarr; <a href="http://macrabbit.com/espresso/" target="_blank" class="link">Download</a></div>
            <p>Espresso is the web editor with many features (JavaScript, PHP, Ruby, Python, etc.). Extend Espresso with XML/JS Sugars <b>+ Free trial</b>.</p>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/ide-komodo.png" width="128" height="128" alt="Komodo" border="0" /></div>
            <h2>Komodo IDE</h2>
            <div class="panel-platform">Platform: OSX, Linux, Windows</div>
            <div>&rarr; <a href="http://www.activestate.com/komodo-ide/downloads" target="_blank" class="link">Download</a></div>
            <p>Komodo is the professional IDE for major web languages, including Python, PHP, Ruby, Perl, HTML, CSS and JavaScript. <strong>+ Free trial</strong>.</p>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/webhosting-c9.jpg" width="128" height="128" alt="Cloud 9" border="0" /></div>
            <h2>Cloud9 IDE</h2>
            <div class="panel-platform">Platform: OSX, Linux, Windows</div>
            <div>&rarr; <a href="http://c9.io" target="_blank" class="link">c9.io</a></div>
            <p>Write and run your code with our powerful and flexible cloud IDE. Collaborate on your workspaces publicly. <strong>+ Free</strong>.</p>
        </div>

    </div>

</div>
<br />