@{meta('IDE for node.js', 'Code editors / IDE for node.js and total.js.', 'code, editor, IDE, node', 'social.jpg')}

<h1 class="silver center">IDE for node.js / total.js</h1>
<p class="claim">Integrated development environment for node.js and total.js.</p>
<div class="bg-white">
	<br />
	<br />
	<br />
	<div class="content">

		<div class="panel">
			<div class="center"><img src="@{routeImage('ide-sublime.png')}" width="128" height="128" alt="Sublime Text Editor" border="0" /></div>
			<h2>Sublime Text Editor</h2>
			<p>Sublime Text is a sophisticated text editor for code, markup and prose. You'll love the slick user interface and amazing performance. <b>+ Free trial</b>.</p>
			<div class="p20">
				<div class="panel-platform">Platform: OSX, Linux, Windows</div>
				<br />
				<div>&rarr; <a href="http://www.sublimetext.com" class="link">Download</a></div>
				<div>&rarr; <a href="@{routeDownload('sublime-text-highlighter.zip')}" class="link">Download total.js highlighter</a></div>
			</div>
		</div>

		<div class="panel">
			<div class="center"><img src="@{routeImage('ide-chocolat.png')}" width="128" height="128" alt="Chocolat" border="0" /></div>
			<h2>Chocolat</h2>
			<p>Native text editor for Mac. We want it to work with every programming language under the sun. Be it Ruby, C++, PHP or Haskell. <b>+ Free trial</b>.</p>
			<div class="p20">
				<div class="panel-platform">Platform: OSX</div>
				<br />
				&rarr; <a href="https://chocolatapp.com/" class="link">Download</a>
			</div>
		</div>

		<div class="panel">
			<div class="center"><img src="@{routeImage('ide-coderunner.jpg')}" width="128" height="128" alt="CodeRunner" border="0" /></div>
			<h2>CodeRunner</h2>
			<p>With CodeRunner, it has never been easier to write and test code, run scripts, or simply experiment with a new coding or scripting language.</p>
			<div class="p20">
				<div class="panel-platform">Platform: OSX</div>
				<br />
				&rarr; <a href="http://krillapps.com/coderunner/" class="link">Download</a>
			</div>
		</div>


		<div class="panel nbr">
			<div class="center"><img src="@{routeImage('ide-webmatrix.jpg')}" width="128" height="128" alt="WebMatrix" border="0" /></div>
			<h2>WebMatrix</h2>
			<p>WebMatrix is a free and lightweight web development tool. Create, publish, and maintain your website with ease. <b>+ Free</b>.</p>
			<div class="p20">
				<div class="panel-platform">Platform: Windows</div>
				<br />
				&rarr; <a href="http://www.microsoft.com/web/webmatrix/" class="link">Download</a>
			</div>
		</div>

		<div class="cl">&nbsp;</div>
	</div>
	<br />
	<hr />
	<br />
	<br />
	<div class="content">

		<div class="panel">
			<div class="center"><img src="@{routeImage('ide-webstorm.png')}" width="128" height="128" alt="WebStorm" border="0" /></div>
			<h2>WebStorm</h2>
			<p>The smartest JavaScript IDE. Create great web sites and applications in a great IDE. The best JavaScript IDE and HTML editor is at your fingertips. <b>+ Free trial</b>.</p>
			<div class="p20">
				<div class="panel-platform">Platform: OSX, Linux, Windows</div>
				<br />
				<div>&rarr; <a href="http://www.jetbrains.com/webstorm/download/index.html" class="link">Download</a></div>
			</div>
		</div>

		<div class="panel">
			<div class="center"><img src="@{routeImage('ide-coda.png')}" width="128" height="128" alt="Coda 2" border="0" /></div>
			<h2>Coda 2</h2>
			<p>We made Coda 2 better at everything. You code the web. We revolutionized that process in Coda, putting everything in one place. An editor. Terminal. CSS. Files.</p>
			<div class="p20">
				<div class="panel-platform">Platform: OSX</div>
				<br />
				&rarr; <a href="http://panic.com/coda/" class="link">Download</a>
			</div>
		</div>

		<div class="panel">
			<div class="center"><img src="@{routeImage('ide-expresso.png')}" width="128" height="128" alt="Expresso" border="0" /></div>
			<h2>Expresso</h2>
			<p>Espresso turbo-charges your workflow with the perfect blend of features. Speed through day-to-day edits with extensive language support, ... <b>+ Free trial</b>.</p>				
			<div class="p20">
				<div class="panel-platform">Platform: OSX</div>
				<br />
				&rarr; <a href="http://macrabbit.com/espresso/" class="link">Download</a>
			</div>
		</div>


		<div class="panel nbr">
			<div class="center"><img src="@{routeImage('ide-komodo.png')}" width="128" height="128" alt="Komodo" border="0" /></div>
			<h2>Komodo IDE</h2>
			<p>Komodo is the professional IDE for major web languages, including Python, PHP, Ruby, Perl, HTML, CSS and JavaScript.<br /><strong>+ Free trial</strong>.</p>
			<div class="p20">
				<div class="panel-platform">Platform: OSX, Linux, Windows</div>
				<br />
				&rarr; <a href="http://www.activestate.com/komodo-ide/downloads" class="link">Download</a>
			</div>
		</div>
		
		<div class="cl">&nbsp;</div>		
	</div>
	<hr />
	<div class="content">
		<br /><br />
		<h2 class="center">ONLINE <b>IDE</b></h2>
		<br />
		<div class="panel panel300" style="height:280px;margin-left:40px">
			&nbsp;
		</div>

		<div class="panel panel300" style="height:280px">
			<div class="center"><img src="@{routeImage('webhosting-c9.jpg')}" width="128" height="128" alt="Cloud 9" border="" /></div>
			<h3>Cloud9 IDE</h3>
			<p>Write, run, and debug your code with our powerful and flexible cloud IDE. Collaborate on your workspaces publicly, or keep them private. <strong>+ Free</strong>.</p>
			<div class="p20">
				&rarr; <a href="http://c9.io" class="link">c9.io</a>
			</div>
		</div>

		<div class="cl">&nbsp;</div>
	</div>
</div>