@{meta('@(Donation and subscription)', 'The important informations about the donation and subscription.', 'donate, subscription, important')}

<div class="container">
    <br />
    <div class="h1">
        <hr />
        <h1>@(Donation and subscription)</h1>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-5">
            <div class="p">
                <h2>The donation for the framework</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quia minus tempora illo, dolorum voluptas! Totam quo labore aliquid assumenda!</p>
                <hr />
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick" />
                    <input type="hidden" name="hosted_button_id" value="GEBWD72T28QC8" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG_global.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online." />
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                </form>
            </div>
        </div>
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-6 panel">
            <div class="p">
                <h2>The plans</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quia minus tempora illo, dolorum voluptas! Totam quo labore aliquid assumenda!</p>
            </div>
        </div>
    </div>
    <div class="cl">&nbsp;</div>
    <br />
</div>