@{meta('@(total.js - Web application framework for node.js)', '@(Free web application framework for building Web sites and Web applications using JavaScript, HTML and CSS.)', '@(framework, total.js, node.js, web, application, MVC, partial.js)', 'social.jpg')}

<a href="https://github.com/totaljs/framework"><img class="fork" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
<div id="fullpage">
    <img src="/img/bg.jpg" onload="fullpage()" style="width:100%" />
</div>

<div class="container-black">
    <div class="container padding">
        <div class="container-padding">
            <div class="row items m">
                <div class="col-md-3 m">
                    <div class="items-title"><span class="fa fa-asterisk"></span> <strong>@(Modern framework)</strong></div>
                    @(Friendly URL, REST methods, JavaScript minifier, XSS protected, resources and supports MVC architecture.)
                </div>
                <div class="col-md-3 m">
                    <div class="items-title"><span class="fa fa fa-gear fa-spin"></span> <strong>@(Modular framework)</strong></div>
                    @(Download modules from the GitHub or create own. You can install any node.js module from the Node Package Manager.)
                </div>
                <div class="col-md-3 m">
                    <div class="items-title"><span class="fa fa fa-shield"></span> <strong>@(Perfect security)</strong></div>
                    @(The framework supports good security elements. Automatically encodes received data and checks incoming requests.)
                </div>
                <div class="col-md-3 m">
                    <div class="items-title"><span class="fa fa fa-plus-square"></span> <strong>@(Extensible framework)</strong></div>
                    @(You can extend the framework by yourself. You can rewrite existing functionality and replace it according to your needs.)
                </div>
            </div>
            <div class="row items m">
                <div class="col-md-3 m">
                    <div class="items-title"><span class="fa fa-code"></span> <strong>@(Beautiful templating)</strong></div>
                    @(The framework has unique templating engine. It's beautiful, simple and powerful. Templates is a strong weapon for the web development.)
                </div>
                <div class="col-md-3 m">
                    <div class="items-title"><span class="fa fa-random"></span> <strong>@(RESTful routing)</strong></div>
                    @(Define a different actions to one url and distribute by e.g. HTTP methods. The framework contains very good routing.)
                </div>
                <div class="col-md-3 m">
                    <div class="items-title"><span class="fa fa-refresh fa-spin"></span> <strong>@(Create real-time applications)</strong></div>
                    @(The framework supports WebSocket (RFC 6455) and Server-Sent events. You can create real-time applications or multiplayer games.)
                </div>
                <div class="col-md-3 m">
                    <div class="items-title"><span class="fa fa-compress"></span> <strong>@(Automation)</strong></div>
                    @(The framework automatically compresses responses via GZIP and compresses JavaScript, HTML and CSS. You don't need other tools (e.g. Grunt).)
                </div>
            </div>
            <div class="row items m">
                <div class="col-md-3 m">
                    <div class="items-title"><span class="fa fa-thumbs-up"></span> <strong>@(Easy to use)</strong></div>
                    @(The framework has an easy learning curve. You will learn to create web applications for a very short time.)
                </div>
                <div class="col-md-3 m">
                    <div class="items-title"><span class="fa fa-cloud"></span> <strong>@(Run everywhere)</strong></div>
                    @(Install once and run anywhere - Unix, Linux, Mac OS X, Windows or SunOS. You don't need other applications for your website.)
                </div>
                <div class="col-md-3 m">
                    <div class="items-title"><span class="fa fa-building-o"></span> <strong>@(Ready to enterprise)</strong></div>
                    @(The framework has a good architecture for big applications and on the one project can work more developers.)
                </div>
                <div class="col-md-3 m">
                    <div class="items-title"><span class="fa fa-file"></span> <strong>@(Friendly license)</strong></div>
                    @(The framework is licensed under the MIT license which makes it perfect for use in commercial applications.)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container-padding">
        <br />
        <div class="h1">
            <hr />
            <h1>@(The Web framework for node.js)</h1>
        </div>
        <div class="row m">
            <div class="col-sm-12">
                <p class="justify">@(Total.js is the free <strong>web application framework for node.js</strong> and contains all modern features for creating rich web applications. Its core contains own web server for serving static and dynamic content. It supports streaming, uploading, image resizing, automatic content compression and many more. The framework is fast and flexible.<br /><br /><b>The framework does not contain any dependencies</b>.)</p>
            </div>
        </div>
        <hr />
        <br />
        <h2 class="center">@(Fully compatible with all client-side frameworks)</h2>
        <br />
        <div class="row">
            <div class="col-xs-2 center"><a href="http://jquery.com/"><img src="/img/logo-jquery.png" class="img-responsive" alt="jQuery" /></a></div>
            <div class="col-xs-2 center"><a href="https://angularjs.org/"><img src="/img/logo-angularjs.png" class="img-responsive" alt="Angular.js" /></a></div>
            <div class="col-xs-2 center"><a href="http://backbonejs.org/"><img src="/img/logo-backbone.png" class="img-responsive" alt="Backbone.js" /></a></div>
            <div class="col-xs-2 center"><a href="http://emberjs.com/"><img src="/img/logo-ember.png" class="img-responsive" alt="Ember.js" /></a></div>
            <div class="col-xs-2 center"><a href="http://dojotoolkit.org/"><img src="/img/logo-dojo.png" class="img-responsive" alt="DOJO" /></a></div>
            <div class="col-xs-2 center"><a href="http://knockoutjs.com/"><img src="/img/logo-knockout.png" class="img-responsive" alt="Knockout" /></a></div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-2 center"><a href="http://mootools.net/"><img src="/img/logo-mootools.png" class="img-responsive" alt="Mootools" /></a></div>
            <div class="col-xs-2 center"><a href="http://yuilibrary.com/"><img src="/img/logo-yui.png" class="img-responsive" alt="YUI Library" /></a></div>
            <div class="col-xs-2 center"><a href="https://www.polymer-project.org"><img src="/img/logo-polymer.png" class="img-responsive" alt="Polymer" /></a></div>
            <div class="col-xs-2 center"><a href="http://facebook.github.io/react/"><img src="/img/logo-react.png" class="img-responsive" alt="React.js" /></a></div>
            <div class="col-xs-2 center"><a href="http://getbootstrap.com"><img src="/img/logo-bootstrap.png" class="img-responsive" alt="Boostrap" /></a></div>
            <div class="col-xs-2 center"><a href="http://fortawesome.github.io/Font-Awesome/icons/"><img src="/img/logo-fontawesome.png" class="img-responsive" alt="Font Awesome" /></a></div>
        </div>
        <div class="cl">&nbsp;</div>
        <br />
        <br />
        <div class="row m">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a href="/features/" class="button">@(FRAMEWORK FEATURES)</a>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row">
            <div class="col-md-3 reference">
                <a href="http://www.spektrum-bb.sk/">www.spektrum-bb.sk</a>
                <div>E-commerce (MongoDB + GridFS)</div>
            </div>
            <div class="col-md-3 reference">
                <a href="http://www.gpslocalization.com/">www.gpslocalization.com</a>
                <div>Real-time localization (WebSocket)</div>
            </div>
            <div class="col-md-3 reference">
                <a href="http://www.privater.eu/">www.privater.eu</a>
                <div>Real-time chat (WebSocket)</div>
            </div>
            <div class="col-md-3 reference">
                <a href="http://www.online-clipboard.com/">www.online-clipboard.com</a>
                <div>The internet clipboard (CouchDB)</div>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>