@{meta('total.js - Web application framework for node.js', 'Free web application framework for building Web sites and Web applications using JavaScript, HTML and CSS.', 'framework, total.js, node.js, web, application, MVC, partial.js', 'social.jpg')}

<!--
<div class="container-green">
asda
</div>
-->

<div class="container-black">
    <div class="container padding">
        <div class="row items m">
            <div class="col-md-3 m">
                <div class="items-title"><span class="fa fa-asterisk"></span> <strong>@(Modern framework)</strong></div>
                @(Friendly URL, REST methods, JavaScript minifier, XSS protected, resources and supports MVC architecture.)
            </div>
            <div class="col-md-3 m">
                <div class="items-title"><span class="fa fa fa-gear fa-spin"></span> <strong>@(Modular framework)</strong></div>
                @(Download exist modules from the GitHub or create own. You can install any node.js module from the Node Package Manager.)
            </div>
            <div class="col-md-3 m">
                <div class="items-title"><span class="fa fa fa-shield"></span> <strong>@(Perfect security)</strong></div>
                @(Framework supports a good security elements. Automatically encodes received data and checks incoming requests.)
            </div>
            <div class="col-md-3 m">
                <div class="items-title"><span class="fa fa fa-plus-square"></span> <strong>@(Extensible framework)</strong></div>
                @(You can extend framework by yourself. You can rewrite existing functionality and replace it according to your needs.)
            </div>
        </div>
        <div class="row items m">
            <div class="col-md-3 m">
                <div class="items-title"><span class="fa fa-code"></span> <strong>@(Beautiful templating)</strong></div>
                @(Framework has unique templating engine. It's beautiful, simple and powerful. Templates is a strong weapon for the web development.)
            </div>
            <div class="col-md-3 m">
                <div class="items-title"><span class="fa fa-random"></span> <strong>@(RESTful routing)</strong></div>
                @(Define a different actions to one url and distribute by e.g. HTTP methods. Framework has the best routing engine as you know.)
            </div>
            <div class="col-md-3 m">
                <div class="items-title"><span class="fa fa-refresh fa-spin"></span> <strong>@(Create real-time applications)</strong></div>
                @(Framework supports WebSocket (RFC 6455) and Server-Sent events. You can create real-time applications or multiplayer games.)
            </div>
            <div class="col-md-3 m">
                <div class="items-title"><span class="fa fa-compress"></span> <strong>@(Automation)</strong></div>
                @(Framework automatically compresses JavaScript, HTML and compiles CSS. You don't need other tools (e.g. Grunt).)
            </div>
        </div>
        <div class="row items m">
            <div class="col-md-3 m">
                <div class="items-title"><span class="fa fa-thumbs-up"></span> <strong>@(Easy to use)</strong></div>
                @(Framework has an easy learning curve. You will learn to create web applications for a very short time.)
            </div>
            <div class="col-md-3 m">
                <div class="items-title"><span class="fa fa-cloud"></span> <strong>@(Run everywhere)</strong></div>
                @(Install once and run anywhere - Unix, Linux, Mac OS X, Windows or SunOS. You don't need other applications for your website.)
            </div>
            <div class="col-md-3 m">
                <div class="items-title"><span class="fa fa-building-o"></span> <strong>@(Ready to enterprise)</strong></div>
                @(Framework has good architecture for big applications and on one project can work more developers.)
            </div>
            <div class="col-md-3 m">
                <div class="items-title"><span class="fa fa-file"></span> <strong>@(Friendly license)</strong></div>
                @(Framework is licensed under the MIT license which makes it perfect for use in commercial applications.)
            </div>
        </div>
    </div>
</div>

<div class="container container-padding padding">
    <br />
    <div class="row m">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <a href="/getting-started/" class="button">@(DOWNLOAD FRAMEWORK)</a>
        </div>
    </div>
</div>