@{meta('Framework news', 'News in latest framework versions. News contain interesting features and functions.', 'news, features, functions, latest, version', 'social.jpg')}

<div class="container-subpage container-subpage-black">
    <h1>Framework news</h1>
    <p class="claim">New features and functions.</p>
</div>

<div>
    <br />
    <div class="content">

        <div class="media">
            <h2>Picture auto-resizer</h2>
            <p>This is the best feature in latest version. You can define relative URL address and framework automatically resize all pictures according your needs. You can set some additional properties: grayscale, sepia, blur, flip, flop and rotate. This feature has great functionality. Requirements: ImageMagick or GraphicsMagick.</p>
            <img src="/img/logo2x.png" />
        </div>

        <div class="media">
            <h2>LESS CSS is replaced to JS CSS</h2>
            <p>In new version you can use JavaScript for generating CSS. How does it work? Framework finds all comments in CSS which contain these keywords: <b>var</b> or <b>function</b>. Then is code compiled and evaluated. Picture below describes this feature:</p>
            <img src="/img/logo2x.png" />
        </div>

        <div class="media">
            <h2>View engine supports: foreach</h2>
            <p>View engine was extended about the foreach feature for rendering arrays. So you can render some Array into the current view or layout without using templates.</p>
            <img src="/img/logo2x.png" />
        </div>

        <div class="media">
            <h2>View engine supports: assign value</h2>
            <p>Finally view engine supports assign value to object. Are supported these properties in views: repository, model, global, session, user, get, post and config.</p>
            <img src="/img/logo2x.png" />
        </div>

        <div class="media">
            <h2>Older template engine was removed</h2>
            <p>Older template engine was removed and commented code for repeating is currently obsolete. Picture below describes new functionality of templates.</p>
            <img src="/img/logo2x.png" />
        </div>

        <div class="media">
            <h2>New config file for both modes (debug and release)</h2>
            <p>New config file is &quot;config&quot; and it&#39;s for both modes (debug and release). Other configs have higher priority and can rewrite this config. All config files are optional.</p>
            <img src="/img/logo2x.png" />
        </div>

        <div class="media">
            <h2>New test functions</h2>
            <p>Framework has a new test functions for testing applications. New functions support testing routes and testing business logic. Test request supports flags (same than classic route flags) and supports cookies.</p>
            <img src="/img/logo2x.png" />
        </div>

        <div class="media">
            <h2>Total.js package manager</h2>
            <p>This is a new binary/executable file for Terminal/CMD. With the help of TPM you can install/uninstall any total.js module or templates. You can create own package repository on own server. NPM has only modules and TPM (Total.js Package Manager) will contain e.g. whole projects. TPM will not replace NPM.</p>
            <img src="/img/logo2x.png" />
        </div>

        <div class="cl">&nbsp;</div>
    </div>
    <br />
    <br />
    <div class="button-large"><a href="https://github.com/totaljs/framework/blob/master/changes.txt">CHANGELOG</a></div>
    <br />
    <br />
</div>
<br />