@{meta('Framework news', 'News in latest framework versions. News contain interesting features and functions.', 'news, features, functions, latest, version', 'social.jpg')}

<div class="container-subpage container-subpage-black">
    <h1>Framework news</h1>
    <p class="claim">New features and functions.</p>
</div>

<div>
    <br />
    <div class="content">

        <div class="media">
            <h2>Image auto-resizer</h2>
            <p>This is the best feature in the latest version. You can define relative URL address and framework automatically resizes all images according your needs. You can set some additional properties: grayscale, sepia, blur, flip, flop and rotate. This feature has great functionality. Requirements: ImageMagick or GraphicsMagick. <a href="https://github.com/totaljs/examples/tree/master/routing-resize">Here is an example.</a></p>
            <div class="media-image"><img src="/img/news/image-resizer.png" alt="Auto image resizer" class="responsive" style="max-width:1040px" /></div>
        </div>

        <div class="media">
            <h2>LESS CSS is replaced to JS CSS</h2>
            <p>Framework keeps <strong>Auto Vendor Prefixer</strong> and adds JavaScript for generating CSS. How does it work? Framework finds all comments in CSS which contain these keywords: <b>var</b> or <b>function</b>. Then is the code compiled and evaluated. Picture below describes this feature. <a href="https://github.com/totaljs/examples/tree/master/css-jscss">Here is an example.</a></p>
            <div class="media-image"><img src="/img/news/jscss.png" alt="JS CSS in total.js" class="responsive" style="max-width:812px" /></div>
        </div>

        <div class="media">
            <h2>View engine supports: looping</h2>
            <p>View engine was extended about the foreach feature for rendering arrays. So you can render some Array into the current view or layout without using templates.</p>
            <div class="media-image"><img src="/img/news/views-foreach.png" alt="Looping in view engine" class="responsive" style="max-width:762px" /></div>
        </div>

        <div class="media">
            <h2>View engine supports: inline helpers</h2>
            <p>Framework supports inline definition of helpers in views. The idea for this feature is taken from ASP.MVC RAZOR engine and is very helpful.</p>
            <div class="media-image"><img src="/img/news/views-inlinehelper.png" alt="Inline helper in view engine" class="responsive" style="max-width:762px" /></div>
        </div>

        <div class="media">
            <h2>View engine supports: sections</h2>
            <div class="media-image"><img src="/img/news/views-sections.png" alt="Sections in view engine" class="responsive" style="max-width:1000px" /></div>
        </div>

        <div class="media">
            <h2>View engine supports: assign value</h2>
            <p>Finally view engine supports: assign value to the object. These properties are supported in views: repository, model, global, session, user, get, post and config.</p>
            <div class="media-image"><img src="/img/news/views-assign.png" alt="Assign value in view engine" class="responsive" style="max-width:762px" /></div>
        </div>

        <div class="media">
            <h2>View engine supports: nested condition</h2>
            <div class="media-image"><img src="/img/news/views-nested.png" alt="Nested conditions in view engine" class="responsive" style="max-width:762px" /></div>
        </div>

        <div class="media">
            <h2>Older template engine was removed</h2>
            <p>Older template engine was removed. Picture below describes new functionality of templates. <a href="https://github.com/totaljs/examples/tree/master/templates">Here is an example.</a></p>
            <div class="media-image"><img src="/img/news/template-engine.png" alt="Older template engine was removed" class="responsive" style="max-width:1000px" /></div>
        </div>

        <div class="media">
            <h2>New config file for both modes (debug and release)</h2>
            <p>New config file is &quot;config&quot; and it&#39;s for both modes (debug and release). Other configs have higher priority and can rewrite this config. All config files are optional. <a href="https://github.com/totaljs/examples/tree/master/config-debug-release">Here is an example.</a></p>
            <div class="media-image"><img src="/img/news/config.png" alt="New config file" class="responsive" style="max-width:256px" /></div>
        </div>

        <div class="media">
            <h2>Send e-mail from the controller</h2>
            <p>New version supports send e-mail from the controllor. Body of e-mail is rendered view. New version supports send e-mail from the controller. Body of e-mail is rendered from an view. <a href="https://github.com/totaljs/examples/tree/master/controller-mail">Here is an example.</a></p>
            <div class="media-image"><img src="/img/news/controller-mail.png" alt="Send e-mail from the controller" class="responsive" style="max-width:762px" /></div>
        </div>

        <div class="media">
            <h2>New test functions</h2>
            <p>Framework has a new test functions for testing applications. New functions support testing routes and testing business logic. Test request supports flags (same than classic route flags) and cookies. <a href="https://github.com/totaljs/examples/tree/master/assertion-testing">Here is an example.</a></p>
            <div class="media-image"><img src="/img/news/assertion-testing.png" alt="Assertion testing" class="responsive" style="max-width:788px" /></div>
        </div>

<!--
        <div class="media">
            <h2>Total.js package manager</h2>
            <p>This is a new binary/executable file for Terminal/CMD. With the help of TPM you can install/uninstall any total.js module or templates. You can create own package repository on own server. NPM has only modules and TPM (Total.js Package Manager) will contain e.g. whole projects. TPM will not replace NPM.</p>
            <img src="/img/logo2x.png" />
        </div>
-->
        <div class="cl">&nbsp;</div>
    </div>
    <br />
    <br />
    <div class="button-large"><a href="https://github.com/totaljs/framework/blob/master/changes.txt">CHANGELOG</a></div>
    <br />
    <br />
</div>
<br />