@{meta('@(Tools for node.js application)', 'IDE (editors), databases, webhosting for ndoe.js / total.js web applications.', 'webhosting, IDE, databases, modules')}
<div class="container container-padding">
    <br />
    <div class="h1">
        <hr />
        <h1>@(node.js tools)</h1>
    </div>
    <br />
    <h2 style="margin-left:6px">@(IDE for node.js applications)</h2>
    <table class="table linkslist" border="0" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th class="col-sm-7">@(Application name)</th>
                <th class="col-sm-4 center">@(Platform)</th>
                <th class="center">@(Link)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="fa fa-thumbs-up"></span> <a href="http://www.sublimetext.com/">Sublime Text Editor</a> (free trial)</td>
                <td class="center">OSX, Linux, Windows</td>
                <td class="center"><a href="http://www.sublimetext.com/"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="https://atom.io/">Atom</a> (free)</td>
                <td class="center">OSX</td>
                <td class="center"><a href="https://atom.io/"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://brackets.io/">Brackets</a> (free)</td>
                <td class="center">OSX, Linux, Windows</td>
                <td class="center"><a href="http://brackets.io/"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://chocolatapp.com/">Chocolat</a> (free trial)</td>
                <td class="center">OSX</td>
                <td class="center"><a href="http://chocolatapp.com/"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://krillapps.com/coderunner/">CodeRunner</a> (free trial)</td>
                <td class="center">OSX</td>
                <td class="center"><a href="http://krillapps.com/coderunner/"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://www.microsoft.com/web/webmatrix/">WebMatrix</a> (free)</td>
                <td class="center">Windows</td>
                <td class="center"><a href="http://www.microsoft.com/web/webmatrix/"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://www.jetbrains.com/webstorm/">WebStorm</a> (free trial)</td>
                <td class="center">OSX, Linux, Windows</td>
                <td class="center"><a href="http://www.jetbrains.com/webstorm/download/index.html"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://panic.com/coda/">Coda 2</a> (free trial)</td>
                <td class="center">OSX</td>
                <td class="center"><a href="http://panic.com/coda/"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://macrabbit.com/espresso/">Expresso</a> (free trial)</td>
                <td class="center">OSX</td>
                <td class="center"><a href="http://macrabbit.com/espresso/"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://www.activestate.com/komodo-ide/">Komodo IDE</a> (free trial)</td>
                <td class="center">OSX, Linux, Windows</td>
                <td class="center"><a href="http://www.activestate.com/komodo-ide/downloads"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://c9.io">Cloud9 IDE (online IDE)</a> (free)</td>
                <td class="center">OSX, Linux, Windows</td>
                <td class="center"><a href="http://c9.io"><span class="fa fa-cloud-download"></span></td>
            </tr>
        </tbody>
    </table>
    <br />
    <h2 style="margin-left:6px">Webhosting for node.js applications</h2>
    <table class="table linkslist" border="0" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th class="col-sm-7">@(Service name)</th>
                <th class="col-sm-4 center">@(Type)</th>
                <th class="center">@(Link)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="http://www.evennode.com/">EvenNode - Node.js hosting</a></td>
                <td class="center">node.js</td>
                <td class="center"><a href="http://www.evennode.com/"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://nodejitsu.com/">Nodejitsu</a></td>
                <td class="center">node.js</td>
                <td class="center"><a href="http://nodejitsu.com/"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://appfog.com/">AppFog</a> (free limit)</td>
                <td class="center">node.js</td>
                <td class="center"><a href="http://appfog.com/"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="https://modulus.io/">Modulus</a></td>
                <td class="center">node.js / MongoDB</td>
                <td class="center"><a href="https://modulus.io/"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="https://www.heroku.com/">Heroku</a> (free limit)</td>
                <td class="center">node.js</td>
                <td class="center"><a href="https://www.heroku.com/"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="https://rosti.cz/nodejs-hosting/">Roští</a></td>
                <td class="center">node.js</td>
                <td class="center"><a href="https://rosti.cz/nodejs-hosting/"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><span class="fa fa-thumbs-up"></span> <a href="http://www.hetzner.de/">Hetzner VPS hosting</a></td>
                <td class="center">everything</td>
                <td class="center"><a href="http://www.hetzner.de/"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="https://www.digitalocean.com/">DigitalOcean VPS hosting</a></td>
                <td class="center">everything</td>
                <td class="center"><a href="https://www.digitalocean.com/"><span class="fa fa-cloud-download"></span></td>
            </tr>

            <tr>
                <td><a href="http://www.iriscouch.com/">Iris Couch</a> (free limit)</td>
                <td class="center">CouchDB</td>
                <td class="center"><a href="http://www.iriscouch.com/"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://www.couchappy.com/">Couchappy</a> (free limit)</td>
                <td class="center">CouchDB</td>
                <td class="center"><a href="http://www.couchappy.com/"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://mongolab.com/">MongoLab</a> (free limit)</td>
                <td class="center">MongoDB</td>
                <td class="center"><a href="http://mongolab.com/"><span class="fa fa-cloud-download"></span></td>
            </tr>
        </tbody>
    </table>
    <br />
    <h2 style="margin-left:6px">Databases for web applications</h2>
    <table class="table linkslist" border="0" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th class="col-sm-7">@(Database name)</th>
                <th class="col-sm-4 center">@(Type)</th>
                <th class="center">@(Module)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="fa fa-thumbs-up"></span> <a href="http://www.mongodb.org">MongoDB</a></td>
                <td class="center">NoSQL</td>
                <td class="center"><a href="https://github.com/mongodb/node-mongodb-native"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://couchdb.apache.org">CouchDB</a></td>
                <td class="center">NoSQL</td>
                <td class="center"><a href="https://github.com/dscape/nano"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://rethinkdb.com">RethinkDB</a></td>
                <td class="center">NoSQL</td>
                <td class="center"><a href="https://www.npmjs.com/package/rethinkdb"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://basho.com/riak/">Riak</a></td>
                <td class="center">NoSQL</td>
                <td class="center"><a href="https://github.com/mranney/node_riak"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="https://github.com/petersirka/nosql">NoSQL embedded database</a></td>
                <td class="center">NoSQL</td>
                <td class="center"><a href="https://github.com/petersirka/nosql"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://firebirdsql.org">Firebid SQL</td>
                <td class="center">RDBMS</td>
                <td class="center"><a href="https://github.com/hgourvest/node-firebird"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://www.mysql.com/">MySQL</a></td>
                <td class="center">RDBMS</td>
                <td class="center"><a href="https://github.com/felixge/node-mysql"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="https://mariadb.org/">MariaDB</a></td>
                <td class="center">RDBMS</td>
                <td class="center"><a href="https://github.com/felixge/node-mysql"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://www.postgresql.org/">PostgreSQL</a></td>
                <td class="center">RDBMS</td>
                <td class="center"><a href="https://github.com/brianc/node-postgres"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://www.sqlite.org/">SQLite</a></td>
                <td class="center">RDBMS</td>
                <td class="center"><a href="https://github.com/mapbox/node-sqlite3"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://redis.io/">REDIS</a></td>
                <td class="center">Key-Value</td>
                <td class="center"><a href="https://github.com/mranney/node_redis"><span class="fa fa-cloud-download"></span></td>
            </tr>
            <tr>
                <td><a href="http://memcached.org/">Memcached</a></td>
                <td class="center">Key-Value</td>
                <td class="center"><a href="https://github.com/elbart/node-memcache"><span class="fa fa-cloud-download"></span></td>
            </tr>
        </tbody>
    </table>
    <br />
    <hr />
    <br />
    <div class="row m">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <a href="http://docs.totaljs.com/" class="button">@(GETTING STARTED)</a>
        </div>
    </div>
    <br />
</div>