@{meta('Angular.js + Node.js = TotalStack', 'With TotalStack you can create easily Angular.js applications.', 'angular.js, node.js, total.js, totalstack, rich applications, modern', 'social.jpg')}

<div class="container-subpage container-subpage-red">
    <h1>TotalStack</h1>
    <p class="claim">Framework supports great features for development Angular.js applications.</p>
</div>
<div>
    <div class="content">
        <ul class="steps">
            <li>
                <p><strong>TotalStack</strong> is a module with group of functions which can help you to create an <strong>Angular.js</strong> application easily. The module supports &quot;extra&quot; one virtual directory for <b>Angular.js</b> application. <b>TotalStack</b> offers great server side features with good directory structure for <b>Angular.js</b> application. All settings are configurable.</p>
                <br />
                <span class="fa fa-question-circle mr10 blue"></span><a href="http://docs.totaljs.com/cmd/" target="_blank" class="b link blue">total.js command-line for Angular.js</a>
            </li>
        </ul>
        <br />
        <br />
        <div class="center"><img src="/img/totalstack.png" width="400" height="163" border="0" alt="TotalStack" /></div>
        <br />
        <h2 class="medium center"><b>Create an angular.js application</b> from command-line</h2>
        <pre class="auto"><span style="color: #BC7A00"># --&gt; Install total.js as global module</span>
<span style="color: #BC7A00"># --&gt; NPM installs executable file &quot;total&quot;</span>
<span>$</span> sudo npm install <span style="color: #666666">-</span>g total.js

<span style="color: #BC7A00"># --&gt; Create App directory</span>
<span>$</span> mkdir angularapp

<span style="color: #BC7A00"># --&gt; Open App directory</span>
<span>$</span> cd angularapp

<span style="color: #BC7A00"># --&gt; Create empty angular.js project</span>
<span>$</span> total <span style="color: #666666">-</span>angular

<span style="color: #BC7A00"># --&gt; Run App</span>
<span>$</span> node debug.js</pre>
        <br />
        <br />
        <hr />
        <br />
        <h2 class="medium gray">TotalStack examples</h2>
        <ul class="table">
            <li><span class="fa fa-chevron-circle-right red"></span> <a href="https://github.com/totaljs/examples/tree/master/angularjs" target="_blank">Simple Angular.js example</a></li>
            <li><span class="fa fa-chevron-circle-right red"></span> <a href="https://github.com/totaljs/examples/tree/master/angularjs-bootstrap" target="_blank">Angular.js + Bootstrap</a></li>
            <li><span class="fa fa-chevron-circle-right red"></span> <a href="https://github.com/totaljs/examples/tree/master/angularjs-mongodb-rest-resources" target="_blank">Angular.js + MongoDB + REST</a></li>
            <li><span class="fa fa-chevron-circle-right red"></span> <a href="https://github.com/totaljs/examples/tree/master/angularjs-routing" target="_blank">Angular.js + Routing</a></li>
            <li><span class="fa fa-chevron-circle-right red"></span> <a href="https://github.com/totaljs/examples/tree/master/angularjs-websocket" target="_blank">Angular.js + WebSocket</a></li>
            <li><span class="fa fa-chevron-circle-right red"></span> <a href="https://github.com/totaljs/examples/tree/master/angularjs-common" target="_blank">Angular.js + without CDN</a></li>
        </ul>
    </div>
    <br />
    <br />
    <br />
</div>
<br />