@{meta('Webhosting / Hosting for node.js', 'Webhosting for your node.js apps and database web hosting (CouchDB, MongoDB).', 'webhosting, database, node.js, mongoDB, couchDB', 'social.jpg')}

<div class="container-subpage container-subpage-blue">
    <h1>Webhosting / Hosting</h1>
    <p class="claim">node.js webhosting / hosting your applications (clouds, simple, scalable, Git, free hosting).</p>
</div>
<div class="content">
    <br />
    <div class="center">

        <div class="panel">
            <div class="center panel-picture"><img src="/img/webhosting-evennode.png" width="128" height="128" alt="EvenNode - Node.js hosting" border="0" /></div>
            <h2>EvenNode - Node.js hosting</h2>
            <div class="panel-platform">&rarr; <a href="http://www.evennode.com" target="_blank" class="link">Visit hosting</a></div>
            <p>Cheap Node.js hosting from EvenNode with custom domains, custom SSL, unlimited FTP access and hot deployment. <strong>+ Free MongoDB</strong></p>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/webhosting-nodejitsu.jpg" width="128" height="128" alt="nodejitsu.com" border="0" /></div>
            <h2>nodejitsu.com</h2>
            <div class="panel-platform">&rarr; <a href="http://nodejitsu.com" target="_blank" class="link">Visit hosting</a></div>
            <p>Node.js clouds. Simple. Scalable. Enterprise-Ready. The simplest, most reliable and intelligent Node.js hosting platform. <strong>+ Free trial</strong></p>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/webhosting-appfog.jpg" width="128" height="128" alt="appfog.com" border="0" /></div>
            <h2>AppFog.com</h2>
            <div class="panel-platform">&rarr; <a href="http://appfog.com" target="_blank" class="link">Visit hosting</a></div>
            <p>The Best Public Cloud PaaS, Now Available on Private Clouds. Simple, elegant, and modern way to develop and deploy apps. <strong>+ Free</strong></p>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/webhosting-hetzner.jpg" width="128" height="128" alt="Hetzner" border="0" /></div>
            <h2>Hetzner VPS hosting</h2>
            <div class="panel-platform">&rarr; <a href="http://www.hetzner.de/" target="_blank" class="link">Visit hosting</a></div>
            <p>Hetzner Online offers professional hosting solutions at fair prices. Our offers range from classic web space to high-performance servers.</p>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/webhosting-modulus.jpg" width="128" height="128" alt="modulus.com" border="0" /></div>
            <h2>modulus.com</h2>
            <div class="panel-platform">&rarr; <a href="http://modulus.com" target="_blank" class="link">Visit hosting</a></div>
            <p>Modulus is a premier Node.js hosting platform. This includes custom SSL, WebSockets, MongoDB, statistics, and more.</p>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/webhosting-heroku.jpg" width="128" height="128" alt="Heroku" border="0" /></div>
            <h2>Heroku.com</h2>
            <div class="panel-platform">&rarr; <a href="http://heroku.com" target="_blank" class="link">Visit hosting</a></div>
            <p>Agile deployment for Ruby, Node.js, Clojure, Java, Python, and Scala. Get up and running in minutes, and deploy instantly with git. <strong>+ Free</strong></p>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/webhosting-rosti.jpg" width="128" height="128" alt="Rosti" border="0" /></div>
            <h2>Rosti.cz</h2>
            <div class="panel-platform">&rarr; <a href="http://rosti.cz/nodejs-hosting/" target="_blank" class="link">Visit hosting</a></div>
            <p>Roští.cz je moderní node.js hosting vhodný pro vývoj aplikací i jejich produkční nasazení. Velký důraz je kladen na stabilitu, výkon a správu.</p>
        </div>

        <hr />
        <br />
        <h2 class="big">Database hosting</h2>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/webhosting-iriscouch.jpg" width="128" height="128" alt="Iris Couch" border="0" /></div>
            <h2>Iris Couch</h2>
            <div class="panel-platform">&rarr; <a href="http://www.iriscouch.com/" target="_blank" class="link">Visit hosting</a></div>
            <p>Iris Couch is a free hosting service-a couch in the cloud. Sign up to have your own Apache CouchDB server.</p>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/webhosting-couchappy.png" width="128" height="128" alt="Couchappy" border="0" /></div>
            <h2>Couchappy</h2>
            <div class="panel-platform">&rarr; <a href="https://www.couchappy.com/" target="_blank" class="link">Visit hosting</a></div>
            <p>Hosted CouchDB for your desktop and mobile apps needs. Couchappy: your couch in the Cloud.</p>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/webhosting-mongolab.jpg" width="128" height="128" alt="MongoLab" border="0" /></div>
            <h2>MongoLab</h2>
            <div class="panel-platform">&rarr; <a href="http://www.mongolab.com/" target="_blank" class="link">Visit hosting</a></div>
            <p>Power your app with the most widely-deployed cloud database service in the world.</p>
        </div>

        <div class="panel">
            <div class="center panel-picture"><img src="/img/webhosting-firebase.jpg" width="128" height="128" alt="Firebase" border="0" /></div>
            <h2>Firebase</h2>
            <div class="panel-platform">&rarr; <a href="http://firebase.com/" target="_blank" class="link">Visit hosting</a></div>
            <p>Powerful API stores and synchronizes data in milliseconds. Build realtime apps in minutes.</p>
        </div>

    </div>

</div>
<br />