@{meta('Webhosting / Hosting for node.js', 'Webhosting for your node.js apps and database web hosting (CouchDB, MongoDB).', 'webhosting, database, node.js, mongoDB, couchDB', 'social.jpg')}

<h1 class="silver center">Webhosting / Hosting</h1>
<p class="claim">node.js webhosting / hosting your applications (clouds, simple, scalable, Git, free hosting).</p>
<div class="bg-white">
	<br />
	<br />
	<br />
	<div class="content">
		<div class="panel">
			<div class="center"><img src="@{routeImage('webhosting-nodejitsu.jpg')}" width="128" height="128" alt="nodejitsu.com" border="0" /></div>
			<h2>nodejitsu.com</h2>
			<p>Node.js clouds. Simple. Scalable. Enterprise-ready. The simplest, most reliable and intelligent Node.js hosting platform you can get. <strong>+ Free trial hosting</strong>.</p>
			<div style="margin-left:30px">
				&rarr; <a href="http://nodejitsu.com" class="link">nodejitsu.com</a>
			</div>
		</div>

		<div class="panel">
			<div class="center"><img src="@{routeImage('webhosting-appfog.jpg')}" width="128" height="128" alt="appfog.com" border="0" /></div>
			<h2>AppFog.com</h2>
			<p>The Best Public Cloud PaaS, Now Available on Private Clouds. Simple, elegant, and modern way to develop and deploy apps. <strong>+ Free hosting</strong>.</p>
			<div style="margin-left:30px">
				&rarr; <a href="http://appfog.com" class="link">appfog.com</a>
			</div>
		</div>
		<div class="panel">
			<div class="center"><img src="@{routeImage('webhosting-modulus.jpg')}" width="128" height="128" alt="modulus.io" border="0" /></div>
			<h2>Modulus.io</h2>
			<p>Modulus is a premier Node.js hosting platform that provides a complete technology stack for application developers. This includes custom SSL, WebSockets, MongoDB, statistics, and more.</p>
			<div style="margin-left:30px">
				&rarr; <a href="http://modulus.io" class="link">modulus.io</a>
			</div>
		</div>

		<div class="panel nbr">
			<div class="center"><img src="@{routeImage('webhosting-heroku.jpg')}" width="128" height="128" alt="heroku.com" border="0" /></div>
			<h2>Heroku.com</h2>
			<p>Agile deployment for Ruby, Node.js, Clojure, Java, Python, and Scala. Get up and running in minutes, and deploy instantly with git.</p>
			<div style="margin-left:30px">
				&rarr; <a href="http://heroku.com" class="link">heroku.com</a>
			</div>
		</div>

		<div class="cl">&nbsp;</div>
	</div>
	<br />
	<hr />
	<br />
	<br />
	<div class="content">
		<div class="panel">
			<div class="center"><img src="@{routeImage('webhosting-rosti.jpg')}" width="128" height="128" alt="rosti.cz" border="0" /></div>
			<h2>Rosti.cz</h2>
			<p>Roští.cz je moderní node.js hosting vhodný pro vývoj aplikací i jejich produkční nasazení. Velký důraz je kladen na stabilitu, výkon a pohodlnou správu.</p>
			<div style="margin-left:30px">
				&rarr; <a href="http://rosti.cz/nodejs-hosting/" class="link">rosti.cz</a>
			</div>
		</div>

		<div class="cl">&nbsp;</div>		
	</div>
	<br />
	<hr />
	<br />
	<div class="content">
		<br />
		<h2 class="center"><b>DATABASE</b> HOSTING</h2>
		<br />

		<div class="panel">
			<div class="center"><img src="@{routeImage('webhosting-iriscouch.jpg')}" width="128" height="128" alt="iriscouch.com" border="0" /></div>
			<h3>iriscouch.com</h3>
			<p>Iris Couch is a free hosting service-a couch in the cloud. Sign up to have your own Apache CouchDB server. <strong>+ Free hosting</strong>.</p>
			<br />
			<div style="margin-left:30px">
				<div>&rarr; <a href="http://iriscouch.com" class="link">iriscouch.com</a></div>
				<div>&rarr; <a href="https://github.com/petersirka/node-couchdb" class="link">coucher (node.js)</a></div>
			</div>
		</div>

		<div class="panel">
			<div class="center"><img src="@{routeImage('webhosting-mongolab.jpg')}" width="128" height="128" alt="mongolab.com" border="0" /></div>
			<h3>mongolab.com</h3>
			<p>Power your app with the most widely-deployed cloud database service in the world. Standard driver and REST API support. <strong>+ Free hosting</strong>.</p>
			<br />
			<div style="margin-left:30px">
				&rarr; <a href="http://mongolab.com" class="link">mongolab.com</a>
				<div>&rarr; <a href="https://github.com/petersirka/node-mongolab" class="link">mongolab-provider (node.js)</a></div>
			</div>
		</div>

		<div class="panel">
			<div class="center"><img src="@{routeImage('webhosting-firebase.jpg')}" width="128" height="128" alt="firebase.com" border="0" /></div>
			<h3>firebase.com</h3>
			<p>Our powerful API stores and synchronizes data in milliseconds. Build realtime mobile and web apps in minutes using client-side code. <strong>+ Free hosting</strong>.</p>
			<br />
			<div style="margin-left:30px">
				&rarr; <a href="http://www.firebase.com" class="link">firebase.com</a>
			</div>
		</div>

		<div class="panel nbr">
			<div class="center"><img src="@{routeImage('webhosting-cloudant.jpg')}" width="128" height="128" alt="cloudant.com" border="0" /></div>
			<h3>cloudant.com</h3>
			<p>Cloudant’s distributed database as a service (DBaaS) allows developers of fast-growing web and mobile apps. REST API support.</p>
			<br />
			<div style="margin-left:30px">
				&rarr; <a href="http://cloudant.com" class="link">cloudant.com</a>
			</div>
		</div>
		<div class="cl">&nbsp;</div>
	</div>
	<br />
	<br />
</div>