/*auto*/

body { padding: 0; margin:0; font-family: Arial; background-color: white; color: #656D78; }

.container-padding { padding-left: 20px; padding-right: 20px; }
.header { background: white url(../img/shadow-bottom.png) no-repeat 50% 100%; height: 80px; border-bottom: 1px solid #E0E0E0; box-shadow: 0 2px 10px rgba(0,0,0,0.2); position: fixed; top: 0; left: 0; right: 0; z-index: 5; }
.header-fill { height: 80px; }
.logo { margin: 20px 0 0 0; display: block; float: left; }

.menu { float: right; margin: 0; padding: 0; list-style-type: none; }
.menu li { float: left; margin: 26px 0 0 20px; }
.menu a { display: block; font-family: 'Roboto Condensed'; font-weight: 700; font-size: 13px; text-transform: uppercase; color: black; padding: 3px 0; border-bottom: 2px solid white; }
.menu a:hover { border-bottom: 2px solid black; color: black; text-decoration: none; }
.menu .selected { border-bottom: 2px solid black; color: black; text-decoration: none; }
.menu-button { display: none; color: gray; }
.menu-button:hover { color: #505050; }
.menu-button:active { color: black !important; }
.menu-button:focus { color: black !important; }

.important { color: #D8532E !important; }
.important.selected { border-bottom: 2px solid #D8532E !important; }
.important:hover { border-bottom: 2px solid #D8532E !important; }
.container-green { background-color: #8AB15C; padding: 50px 0; text-align: center; }
.container-black { background-color: #202020; padding: 20px 40px 0; }


.hljs { border-radius: 4px; font-size: 12px; padding: 15px; border: 1px solid #E0E0E0; box-shadow: inset 0 2px 5px rgba(0,0,0,0.1); }

.footer { border-top: 1px solid #E0E0E0; padding: 20px 0 30px; margin-top: 20px; font-size: 14px; color: gray; background: url(../img/shadow-top.png) no-repeat 50% 0; }
.footer ul { margin: 10px 0 0 0; padding: 0; text-align: center; list-style-type: none; }
.footer li { position: relative; display: inline-block; margin: 0 5px; }
.footer .fa { width: 10px; }

.center { text-align: center !important; }
.padding { padding-top: 30px; padding-bottom: 30px; }

.items { font-size: 12px; }
.items .fa { font-size: 16px; vertical-align: middle; color: #409AE6; width: 16px; margin-right: 2px; }
.items strong { vertical-align: middle;color: white; }
.items-title { margin-bottom: 10px; font-size: 14px; }

.featurelist .fa { font-size: 30px; color: #6A9832; }
.featurelist td { vertical-align: middle !important; }

.linkslist .fa { font-size: 30px; color: #40A0EA; }
.linkslist .fa-thumbs-up { font-size: 14px; color: #68B25B; width: 16px; }
.linkslist td { vertical-align: middle !important; }

.b { font-weight: bold; }
.m { margin-bottom: 20px; }
.p { padding: 15px 10px; }

.button { display: block; border: 1px solid #409AE6; padding: 20px 0; text-align: center; border-radius: 8px; color: #409AE6; font-family: 'Roboto Condensed'; font-size: 18px; background-color: white; }
.button:hover { color: white; text-decoration: none; background-color: #409AE6; }
.button:focus { color: #409AE6; text-decoration: none; background-color: white; }
.button:active { box-shadow: inset 0 2px 5px rgba(0,0,0,0.1); color: white; background-color: #409AE6; }

.install { background-color: #303030; font-size: 18px; border-radius: 4px; color: white; padding: 20px 20px; }

h1 { font: normal 700 20px 'Roboto Condensed'; color: black; margin: 20px 0 0 0; padding: 0; text-align: center; height: 40px; text-shadow: 1px 1px 1px white; }
h2 { font:normal 22px 'Roboto Condensed'; color: black; height: 30px; margin: 0 0 10px 0; padding: 0; color: #409AE6; }
h3 { font:normal 16px 'Roboto Condensed'; color: #202020; height: 18px; margin: 10px 0 10px 0; padding: 0; }

.h1 { display: inline-block; position: relative; width: 100%; text-align: center; height: 50px; margin: 20px 0 30px; }
.h1 div { font-family: 'Roboto Condensed'; font-size: 19px !important; margin: 0 0 0 !important; padding: 0; background-color: white; position: relative; display: inline-block; }
.h1 hr { border-bottom: 2px solid #E0E0E0; position: absolute; left: 0; right: 0; top: 0; z-index: 0; }
.h1 h1, .h1 div { margin-top: 20px !important; padding: 0 10px; font-weight: 400; text-transform: uppercase; font-size: 30px !important; margin: 0 0 0 !important; background-color: white; position: relative; display: inline-block; }

.justify { text-align: justify; }
.code { padding: 2px 5px; color: black; background-color: #F0F0F0; }
hr { border-top: 1px solid #E0E0E0; margin-bottom: 35px; }
table tr:nth-child(even) { background-color: #F5F5F5; }

.img-responsive { margin: 0 auto; }
.count { background-color: #E0E0E0; margin-right: 3px; font-size: 10px; border-radius: 4px; padding: 2px 3px; vertical-align: middle; text-decoration: none !important; color: gray; }
.footer .count {text-decoration: none !important; }
.fork { position:absolute; right:0; border:0; }
.reference { text-align: center; background-color: #F5F5F5; padding: 10px 0; margin-bottom: 2px; }
.reference div { font-size: 11px; color: gray; }
.reference:first-child { border-radius: 4px 0 0 4px; }
.reference:last-child { border-radius: 0 4px 4px 0; }
.panel { background-color: #F0F0F0; border-radius: 4px; padding: 0 10px; }
.panel hr { border-top: 1px solid #D0D0D0; margin: 10px 0 15px; }
.panel .items-title strong { color: #505050; }

@media (max-width:768px) {
    .menu-button { display: block; float: right; font-size: 40px; margin: 13px 0 0 0; }
    .menu { display: none; position: absolute; background-color: white; left: 0; top: 80px; width: 100%; box-shadow: 0 2px 15px rgba(0,0,0,0.2); padding: 5px 0; }
    .menu li { display: block; float: none; margin: 5px; padding: 0 15px; }
}