@#auto-vendor-prefix#@

@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);

* { -webkit-text-size-adjust:none; text-size-adjust:none; }
html { overflow-x: hidden; overflow-y: scroll; }
body { padding:0; margin:0; font:normal 12px Arial; color:#505050; background:#F5F5F5 url(../img/texture.png) repeat 0 0; }
form { padding:0; margin:0; }
button { outline: 0; }

.logo { height: 380px; background: white url(../img/total.png) no-repeat 50% 80%; }
.menu-container { height: 35px; background:#E0E0E0 linear-gradient(-90deg, #F0F0F0, #D0D0D0); box-shadow:0 0 10px rgba(0,0,0,0.8); position: fixed; width: 100%; z-index: 10; }

.menu { display: block; padding: 0; list-style-type: none; width: 960px; margin: 0 auto; height: 35px; border-right: 1px solid #BDBDBD; }
.menu li { float: left; width: 119px; border-left: 1px solid #BDBDBD; text-align: center;}
.menu li:hover { background-color: #D0D0D0; }
.menu li:last-child { width: 116	px; }
.menu li a { text-decoration: none; color: gray; display: block; padding: 11px 0 0 0; height: 24px; font-weight: bold; font-size: 11px; outline: 0; }
.menu .selected { text-shadow: 0 1px 1px rgba(0,0,0,0.3); background-color: #101010 !important; }
.menu .selected a { color: white !important; }
.menu .high a { color: black; }

.content { margin:0 auto; width: 980px; border-radius:4px; }

.content-padding { padding: 20px; }
hr { background: none; border: 0; border-bottom: 1px solid silver; box-shadow:1px 3px 2px #F0F0F0; height: 3px; }

.footer { margin: 10px auto; width: 600px; color: gray; font-size: 11px; height: 120px; text-align: center; line-height: 13px; border-top: 1px dotted silver; padding-top: 20px; }
.footer-about { margin: 10px 0 2px 0; }
.footer-about a { text-decoration: none; color: black; font-weight: bold; font-size: 12px; }
.footer-about a:hover { text-decoration: underline; }

.love { position: relative; display: inline-block; width: 16px; height: 16px; background: url(../img/love.png) no-repeat 0 0; margin-top: -5px; vertical-align: middle; }

h1 { font: normal 700 30px 'Archivo Narrow'; color: black; margin: 20px 0 0 0; padding: 0; text-align: center; height: 40px; text-shadow: 1px 1px 1px white; }
h2 { font:normal 20px 'Archivo Narrow'; color: #505050; height: 23px; margin: 0 0 10px 0; padding: 0; }
h3 { font:normal 16px 'Archivo Narrow'; color: #202020; height: 18px; margin: 10px 0 10px 0; padding: 0; }

.claim { font: normal 11px Arial; text-align: center; color: gray; margin:0 0 40px 0; padding: 0; }

.cl { clear: both; }

.panel { width: 244px; border-right: 1px dotted silver; float: left; font-size: 11px; color: #505050; line-height: 14px; }
.panel300 { width: 300px !important; }
.panel330 { width: 330px !important; }
.panel .p20 { padding-top: 10px; }
.panel h2, .panel h3 { text-align: center; font:normal 400 18px 'Archivo Narrow'; color: black; height: 20px; margin: 0 0 10px 0; padding: 0; }
.panel-2 { width: 460px !important; }
.center { text-align: center; }
.panel p { padding: 10px 30px; margin: 0; color: gray; }

.h30 { height: 30px; }
.p20 { padding: 20px; }
.nbr { border-right: 0 !important; }

.bg-black { background-color: black; }
.bg-white { background-color: white; }
.bg-panel { background-color: black; color: white; }
.bg-github { background: url(../img/bg-github.png) no-repeat 0 80%; }

.download { padding: 50px 30px 30px 30px; height: 30px; }
.download-npm { text-align: right; margin: 10px 0 0 0; font:normal 12px 'Consolas', 'Courier New'; }
.download a { width: 220px; padding: 10px 20px; font-size: 14px; }

.box-container { height: 30px; margin: 30px 0 0 0; }

.box-tw { float: left; width: 120px; min-width: 120px; margin-left: 260px; }
.box-go { float: left; min-width: 130px; text-align: center; }
.box-fb { float: left; min-width: 130px; text-align: center; }
.box-do { float: left; min-width: 130px; text-align: center; }
.box-fl { float: left; min-width: 130px; text-align: center }
.box-gi { float: left; min-width: 110px; text-align: center }

.quote { font: italic normal 20px georgia; margin: 10px 0; padding: 0; color: silver; text-align: center; }

.twitter-share-button { color: white; }

.button { position: relative; display: inline-block; outline: none; cursor: pointer; text-align: center; text-decoration: none; font: 12px Arial; padding: 7px 20px; text-shadow: 0 1px 1px rgba(0,0,0,0.3); box-shadow: 0 1px 2px rgba(0,0,0,0.2); border-radius:3px; }
.button:hover { text-decoration: none; }

.button-base { color: #fef4e9; border: solid 1px #6E9D36; background: #90CE47; background: linear-gradient(top,  #90CE47, #6F9E36); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#90CE47', endColorstr='#6F9E36');}
.button-base:hover { background: #9CDF4D; border: solid 1px #7BAF3C; background: linear-gradient(top, #9CDF4D, #90CE47); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9CDF4D', endColorstr='#90CE47'); }
.button-base:active { color: silver; background: linear-gradient(top, #507227, #90CE47); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#507227', endColorstr='#faa51a'); }

.message { padding: 10px 20px; min-height: 16px; border-radius:4px; font-size: 13px; box-shadow: 1px 1px 3px silver; }
.message-alert { background-color: #fcf8e3; border: 1px solid #fbeed5; color:#c09853; }
.message-alert a { color: #9f793c; }

.b { font-weight: bold; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
a.link { text-decoration: none; border-bottom: 1px dotted gray; color: #505050; }

.features { padding: 0; margin: 0; list-style-type: none; }
.features li { float: left; border-bottom: 1px dotted #D0D0D0; width: 218px; padding: 5px 0 5px 18px; margin: 0 8px 0 0; font-size: 12px; color: gray; background: url(../img/bull.png) no-repeat 0 5px; }

.gray { color: gray; }
.white { color: white; }
.black { color: black; }

.bg-black .features { border-top: 1px dashed #303030; }
.bg-black .features li { border-bottom: 1px dotted #303030 !important; }

.clientside { height: 60px; margin: 30px 0 0 0; }
.clientside a { float: left; margin-left: 20px; padding-right: 20px; border-right: 1px solid #E0E0E0; opacity: 0.5; }
.clientside a:hover { opacity: 1; }
.clientside a:first-child { margin-left: 0; }
.clientside a:last-child { border-right: 0; }

.links { padding: 0; margin: 0; list-style-type: none; }
.links li { float: left; border-bottom: 1px solid silver; width: 135px; padding: 5px 0 5px 18px; margin: 0 8px 0 0; font-size: 14px; color: gray; background: url(../img/link.png) no-repeat 0 9px; }
.links a { color: gray; }

.links-large { padding: 0; margin: 0; list-style-type: none; }
.links-large li { float: left; border-bottom: 1px solid silver; width: 219px; padding: 5px 0 5px 18px; margin: 0 8px 0 0; font-size: 14px; color: gray; background: url(../img/link.png) no-repeat 0 9px; }
.links-large a { color: #176EA5; }

.panel-platform { font-size: 11px; color:gray; border-bottom: 1px dotted #E0E0E0; padding: 4px 15px; background-color: #F0F0F0; border-radius: 4px; text-shadow:1px 1px 1px white; }
.fl { float: left; }
.br { border-right: 1px dashed silver; }
.fs11 { font-size: 11px; }
.w190 { width: 190px; }
.w150 { width: 150px; }

.syntaxhighlighter { box-shadow: 1px 1px 3px #D0D0D0; }
.syntaxhighlighter a, .syntaxhighlighter div, .syntaxhighlighter code, .syntaxhighlighter table, .syntaxhighlighter table td, .syntaxhighlighter table tr, .syntaxhighlighter table tbody, .syntaxhighlighter table thead, .syntaxhighlighter table caption, .syntaxhighlighter textarea { -moz-border-radius: 0 0 0 0 !important; -webkit-border-radius: 0 0 0 0 !important; background: none !important; border: 0 !important; bottom: auto !important; float: none !important; height: auto !important; left: auto !important; line-height: 16px !important; margin: 0 !important; outline: 0 !important; overflow: visible !important; padding: 0 !important; position: static !important; right: auto !important; text-align: left !important; top: auto !important; vertical-align: baseline !important; width: auto !important; box-sizing: content-box !important; font-family: Consolas, "Courier New" ,Courier,Monospace !important; font-weight: normal !important; font-style: normal !important; font-size: 1em !important; min-height: inherit !important; min-height: auto !important; }
.syntaxhighlighter { border: 1px solid #E0E0E0; width: 99% !important; margin: 0 !important; position: relative !important; overflow: auto !important; font-size: 12px !important; }
.syntaxhighlighter.source { overflow: hidden !important; }
.syntaxhighlighter .bold { font-weight: bold !important; }
.syntaxhighlighter .italic { font-style: italic !important; }
.syntaxhighlighter .line { white-space: pre !important; }
.syntaxhighlighter table { width: 100% !important; }
.syntaxhighlighter table caption { text-align: left !important; padding: .5em 0 0.5em 1em !important; }
.syntaxhighlighter table td.code { width: 100% !important; }
.syntaxhighlighter table td.code .container { position: relative !important; }
.syntaxhighlighter table td.code .container textarea { box-sizing: border-box !important; position: absolute !important; left: 0 !important; top: 0 !important; width: 100% !important; height: 100% !important; border: none !important; background: white !important; padding-left: 1em !important; overflow: hidden !important; white-space: pre !important; }
.syntaxhighlighter table td.gutter .line { text-align: right !important; padding: 0 0.5em 0 1em !important; }
.syntaxhighlighter table td.code .line { padding: 0 1em !important; }
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line { padding-left: 0em !important; }
.syntaxhighlighter.show { display: block !important; }
.syntaxhighlighter.collapsed table { display: none !important; }
.syntaxhighlighter.collapsed .toolbar { padding: 0.1em 0.8em 0em 0.8em !important; font-size: 1em !important; position: static !important; width: auto !important; height: auto !important; }
.syntaxhighlighter.collapsed .toolbar span { display: inline !important; margin-right: 1em !important; }
.syntaxhighlighter.collapsed .toolbar span a { padding: 0 !important; display: none !important; }
.syntaxhighlighter.collapsed .toolbar span a.expandSource { display: inline !important; }
.syntaxhighlighter .toolbar { position: absolute !important; right: 1px !important; top: 1px !important; width: 11px !important; height: 11px !important; font-size: 10px !important; z-index: 10 !important; }
.syntaxhighlighter .toolbar span.title { display: inline !important; }
.syntaxhighlighter .toolbar a { display: block !important; text-align: center !important; text-decoration: none !important; padding-top: 1px !important; }
.syntaxhighlighter .toolbar a.expandSource { display: none !important; }
.syntaxhighlighter.ie { font-size: .9em !important; padding: 1px 0 1px 0 !important; }
.syntaxhighlighter.ie .toolbar { line-height: 8px !important; }
.syntaxhighlighter.ie .toolbar a { padding-top: 0px !important; }
.syntaxhighlighter.printing .line.alt1 .content, .syntaxhighlighter.printing .line.alt2 .content, .syntaxhighlighter.printing .line.highlighted .number, .syntaxhighlighter.printing .line.highlighted.alt1 .content, .syntaxhighlighter.printing .line.highlighted.alt2 .content { background: none !important; }
.syntaxhighlighter.printing .line .number { color: #bbbbbb !important; }
.syntaxhighlighter.printing .line .content { color: black !important; }
.syntaxhighlighter.printing .toolbar { display: none !important; }
.syntaxhighlighter.printing a { text-decoration: none !important; }
.syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a { color: black !important; }
.syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a { color: #008200 !important; }
.syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a { color: blue !important; }
.syntaxhighlighter.printing .keyword { color: #006699 !important; font-weight: bold !important; }
.syntaxhighlighter.printing .preprocessor { color: gray !important; }
.syntaxhighlighter.printing .variable { color: #aa7700 !important; }
.syntaxhighlighter.printing .value { color: #009900 !important; }
.syntaxhighlighter.printing .functions { color: #ff1493 !important; }
.syntaxhighlighter.printing .constants { color: #0066cc !important; }
.syntaxhighlighter.printing .script { font-weight: bold !important; }
.syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a { color: gray !important; }
.syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a { color: #ff1493 !important; }
.syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a { color: red !important; }
.syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a { color: black !important; }

.syntaxhighlighter { background-color: white !important; }
.syntaxhighlighter .line.alt1 { background-color: #F5F5F5 !important; padding-top:2px !important; }
.syntaxhighlighter .line.alt2 { background-color: white !important; padding-top:2px !important; }
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 { background-color: #e0e0e0 !important; }
.syntaxhighlighter .line.highlighted.number { color: black !important; }
.syntaxhighlighter table caption { color: black !important; }
.syntaxhighlighter .gutter { color: #D0D0D0 !important; }
.syntaxhighlighter .gutter .line { border-right: 3px solid #E0E0E0 !important; }
.syntaxhighlighter .gutter .line.highlighted { background-color: #6ce26c !important; color: white !important; }
.syntaxhighlighter.printing .line .content { border: none !important; }
.syntaxhighlighter.collapsed { overflow: visible !important; }
.syntaxhighlighter.collapsed .toolbar { color: blue !important; background: white !important; border: 1px solid #6ce26c !important; }
.syntaxhighlighter.collapsed .toolbar a { color: blue !important; }
.syntaxhighlighter.collapsed .toolbar a:hover { color: red !important; }
.syntaxhighlighter .toolbar { color: white !important; background: #6ce26c !important; border: none !important; }
.syntaxhighlighter .toolbar a { color: white !important; }
.syntaxhighlighter .toolbar a:hover { color: black !important; }
.syntaxhighlighter .plain, .syntaxhighlighter .plain a { color: black !important; }
.syntaxhighlighter .comments, .syntaxhighlighter .comments a { color: #008200 !important; }
.syntaxhighlighter .string, .syntaxhighlighter .string a { color: blue !important; }
.syntaxhighlighter .keyword { color: #006699 !important; }
.syntaxhighlighter .preprocessor { color: gray !important; }
.syntaxhighlighter .variable { color: #aa7700 !important; }
.syntaxhighlighter .value { color: #009900 !important; }
.syntaxhighlighter .functions { color: #ff1493 !important; }
.syntaxhighlighter .constants { color: #0066cc !important; }
.syntaxhighlighter .script { font-weight: bold !important; color: #006699 !important; background-color: none !important; }
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a { color: gray !important; }
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a { color: #ff1493 !important; }
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a { color: red !important; }
.syntaxhighlighter .keyword { font-weight: bold !important; }

.left { text-align: left !important; }
.right { text-align: right !important; }
.silver { color:silver !important; }

.bg-download { background: url(../img/bg-download.png) no-repeat 100% 50%; }
.bg-download .link { color: silver; border-bottom: 1px dotted gray; }
.fork { position: absolute; top: 35px; right: 0; border: 0; }
.bg-test { background-color: white; border-radius: 4px; padding: 20px; box-shadow: 0 0 10px silver; }

.performance { padding: 0; margin: 0; list-style-type: none; }
.performance li { border-bottom: 1px dotted gray; padding: 5px 0 5px 15px; margin: 0 5px 0 0; font-size: 14px; color: gray; background: url(../img/bull.png) no-repeat 0 5px; }

.mt15 { margin-top: 15px; }
.h30 { height: 30px; }
